@import "border.css";
@import "color.css";
@import "grid.css";
@import "spacing.css";
@import "typography.css";
@import "components.css";

html,
body {
    font-size: var(--lui-typography-scale-base);
    background-color: var(--lui-color-neutral-light-layer-bg-surface);
	color: var(--lui-color-neutral-dark-content-text-darkest);
}

html,
body,
input,
select,
button {
	font-family: var(--typography-main-font) !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: var(--lui-spacing-0);
	padding: var(--lui-spacing-0);
	border: var(--lui-spacing-0);
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}