:root {
    --lui-border-width-2xl: 16px;
    --lui-border-width-xl: 12px;
    --lui-border-width-lg: 8px;
    --lui-border-width-md: 4px;
    --lui-border-width-sm: 2px;
    --lui-border-width-none: 0px;

    --lui-border-radius-2xl: 16px;
    --lui-border-radius-xl: 12px;
    --lui-border-radius-lg: 8px;
    --lui-border-radius-md: 4px;
    --lui-border-radius-sm: 2px;
    --lui-border-radius-none: 0px;
}

.border-width-3xl { border-width: var(--lui-border-width-3xl); }
.border-width-2xl { border-width: var(--lui-border-width-2xl); }
.border-width-lg { border-width: var(--lui-border-width-lg); }
.border-width-md { border-width: var(--lui-border-width-md); }
.border-width-sm { border-width: var(--lui-border-width-sm); }
.border-width-none { border-width: var(--lui-border-width-none); }

.border-radius-3xl { border-radius: var(--lui-border-radius-3xl); }
.border-radius-2xl { border-radius: var(--lui-border-radius-2xl); }
.border-radius-lg { border-radius: var(--lui-border-radius-lg); }
.border-radius-md { border-radius: var(--lui-border-radius-md); }
.border-radius-sm { border-radius: var(--lui-border-radius-sm); }
.border-radius-none { border-radius: var(--lui-border-radius-none); }