@import "general-colors.css";

:root {
    /* Brand */
    --lui-color-brand-accent-layer-bg-surface: var(--color-brand-1);
    --lui-color-brand-accent-layer-bg-cover: var(--color-brand-2);
    --lui-color-brand-accent-layer-bg-container: var(--color-brand-5);

    --lui-color-brand-accent-layer-border-divisor: var(--color-brand-1);
    --lui-color-brand-accent-layer-border-stroke: var(--color-brand-5);

    --lui-color-brand-accent-content-text-darkest: var(--color-brand-9);
    --lui-color-brand-accent-content-text-dark: var(--color-brand-8);
    --lui-color-brand-accent-content-text-hard: var(--color-brand-5);
    --lui-color-brand-accent-content-text-light: var(--color-brand-1);

    --lui-color-brand-accent-content-icon-hard: var(--lui-color-brand-accent-content-text-hard);
    --lui-color-brand-accent-content-icon-light: var(--lui-color-brand-accent-content-text-light);

    /* Feedback */
    /* Caution */
    --lui-color-feedback-caution-layer-bg-surface: var(--lui-color-solid-orange-1);
    --lui-color-feedback-caution-layer-bg-cover: var(--lui-color-solid-orange-2);
    --lui-color-feedback-caution-layer-bg-container: var(--lui-color-solid-orange-5);

    --lui-color-feedback-caution-layer-border-divisor: var(--lui-color-solid-orange-1);
    --lui-color-feedback-caution-layer-border-stroke: var(--lui-color-solid-orange-5);

    --lui-color-feedback-caution-content-text-darkest: var(--lui-color-solid-orange-9);
    --lui-color-feedback-caution-content-text-dark: var(--lui-color-solid-orange-8);
    --lui-color-feedback-caution-content-text-hard: var(--lui-color-solid-orange-5);
    --lui-color-feedback-caution-content-text-light: var(--lui-color-solid-orange-1);

    --lui-color-feedback-caution-content-icon-hard: var(--lui-color-feedback-caution-content-text-hard);
    --lui-color-feedback-caution-content-icon-light: var(--lui-color-feedback-caution-content-text-light);

    /* Info */
    --lui-color-feedback-info-layer-bg-surface: var(--lui-color-solid-blue-1);
    --lui-color-feedback-info-layer-bg-cover: var(--lui-color-solid-blue-2);
    --lui-color-feedback-info-layer-bg-container: var(--lui-color-solid-blue-5);

    --lui-color-feedback-info-layer-border-divisor: var(--lui-color-solid-blue-1);
    --lui-color-feedback-info-layer-border-stroke: var(--lui-color-solid-blue-5);

    --lui-color-feedback-info-content-text-darkest: var(--lui-color-solid-blue-9);
    --lui-color-feedback-info-content-text-dark: var(--lui-color-solid-blue-8);
    --lui-color-feedback-info-content-text-hard: var(--lui-color-solid-blue-5);
    --lui-color-feedback-info-content-text-light: var(--lui-color-solid-blue-1);

    --lui-color-feedback-info-content-icon-hard: var(--lui-color-feedback-info-content-text-hard);
    --lui-color-feedback-info-content-icon-light: var(--lui-color-feedback-info-content-text-light);

    /* Danger */
    --lui-color-feedback-danger-layer-bg-surface: var(--lui-color-solid-red-1);
    --lui-color-feedback-danger-layer-bg-cover: var(--lui-color-solid-red-2);
    --lui-color-feedback-danger-layer-bg-container: var(--lui-color-solid-red-5);

    --lui-color-feedback-danger-layer-border-divisor: var(--lui-color-solid-red-1);
    --lui-color-feedback-danger-layer-border-stroke: var(--lui-color-solid-red-5);

    --lui-color-feedback-danger-content-text-darkest: var(--lui-color-solid-red-9);
    --lui-color-feedback-danger-content-text-dark: var(--lui-color-solid-red-8);
    --lui-color-feedback-danger-content-text-hard: var(--lui-color-solid-red-5);
    --lui-color-feedback-danger-content-text-light: var(--lui-color-solid-red-1);

    --lui-color-feedback-danger-content-icon-hard: var(--lui-color-feedback-danger-content-text-hard);
    --lui-color-feedback-danger-content-icon-light: var(--lui-color-feedback-danger-content-text-light);

    /* Success */
    --lui-color-feedback-success-layer-bg-surface: var(--lui-color-solid-green-1);
    --lui-color-feedback-success-layer-bg-cover: var(--lui-color-solid-green-2);
    --lui-color-feedback-success-layer-bg-container: var(--lui-color-solid-green-5);

    --lui-color-feedback-success-layer-border-divisor: var(--lui-color-solid-green-1);
    --lui-color-feedback-success-layer-border-stroke: var(--lui-color-solid-green-5);

    --lui-color-feedback-success-content-text-darkest: var(--lui-color-solid-green-9);
    --lui-color-feedback-success-content-text-dark: var(--lui-color-solid-green-8);
    --lui-color-feedback-success-content-text-hard: var(--lui-color-solid-green-5);
    --lui-color-feedback-success-content-text-light: var(--lui-color-solid-green-1);

    --lui-color-feedback-success-content-icon-hard: var(--lui-color-feedback-success-content-text-hard);
    --lui-color-feedback-success-content-icon-light: var(--lui-color-feedback-success-content-text-light);

    /* Neutral light */
    --lui-color-neutral-light-layer-bg-surface: var(--lui-color-solid-gray-1);
    --lui-color-neutral-light-layer-bg-cover: var(--lui-color-solid-gray-2);
    --lui-color-neutral-light-layer-bg-container: var(--lui-color-solid-gray-3);

    --lui-color-neutral-light-layer-border-divisor: var(--lui-color-solid-gray-1);
    --lui-color-neutral-light-layer-border-stroke: var(--lui-color-solid-gray-5);

    --lui-color-neutral-light-content-text-lightest: var(--lui-color-solid-gray-1);
    --lui-color-neutral-light-content-text-lighter: var(--lui-color-solid-gray-2);
    --lui-color-neutral-light-content-text-soft: var(--lui-color-solid-gray-4);

    --lui-color-neutral-light-content-icon: var(--lui-color-neutral-light-content-text-lightest);

    /* Neutral dark */
    --lui-color-neutral-dark-layer-bg-surface: var(--lui-color-solid-gray-9);
    --lui-color-neutral-dark-layer-bg-cover: var(--lui-color-solid-gray-8);
    --lui-color-neutral-dark-layer-bg-container: var(--lui-color-solid-gray-5);

    --lui-color-neutral-dark-layer-border-divisor: var(--lui-color-solid-gray-1);
    --lui-color-neutral-dark-layer-border-stroke: var(--lui-color-solid-gray-5);

    --lui-color-neutral-dark-content-text-darkest: var(--lui-color-solid-gray-9);
    --lui-color-neutral-dark-content-text-darker: var(--lui-color-solid-gray-8);
    --lui-color-neutral-dark-content-text-hard: var(--lui-color-solid-gray-5);

    --lui-color-neutral-dark-content-icon: var(--lui-color-neutral-dark-content-text-hard);
}

/* 
====================

Actions

====================
*/
.action-accent {
    background-color: var(--lui-color-brand-accent-layer-bg-container);
    color: var(--lui-color-neutral-light-content-text-lightest);
}
.action-accent:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-accent:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-caution {
    background-color: var(--lui-color-feedback-caution-layer-bg-container);
    color: var(--lui-color-neutral-dark-content-text-darkest);
}
.action-caution:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-caution:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-danger {
    background-color: var(--lui-color-feedback-danger-layer-bg-container);
    color: var(--lui-color-neutral-light-content-text-lightest);
}
.action-danger:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-danger:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-info {
    background-color: var(--lui-color-feedback-info-layer-bg-container);
    color: var(--lui-color-neutral-dark-content-text-darkest);
}
.action-info:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-info:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-success {
    background-color: var(--lui-color-feedback-success-layer-bg-container);
    color: var(--lui-color-neutral-dark-content-text-darkest);
}
.action-success:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-success:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-neutral-dark {
    background-color: var(--lui-color-neutral-dark-layer-bg-container);
    color: var(--lui-color-neutral-light-content-text-lightest);
}
.action-neutral-dark:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-neutral-dark:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-neutral-light {
    background-color: var(--lui-color-neutral-light-layer-bg-container);
    color: var(--lui-color-neutral-dark-content-text-darkest);
}
.action-neutral-light:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-neutral-light:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.action-transparent {
    background: none;
    color: var(--lui-color-neutral-dark-content-text-darkest);
}
.action-transparent:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.action-transparent:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

/* 
=======================

Backgrounds and borders

=======================
*/
.bg-txt-bw-caution {
    border: var(--lui-border-width-1) solid var(--lui-color-feedback-caution-layer-border-stroke);
}

.bg-txt-bw-danger {
    border: var(--lui-border-width-1) solid var(--lui-color-feedback-danger-layer-border-stroke);
}

.bg-txt-bw-info {
    border: var(--lui-border-width-1) solid var(--lui-color-feedback-info-layer-border-stroke);
}

.bg-txt-bw-success {
    border: var(--lui-border-width-1) solid var(--lui-color-feedback-success-layer-border-stroke);
}

/* 
====================

Backgrounds

====================
*/
.bg-txt-accent {
    background-color: var(--lui-color-brand-accent-layer-bg-surface);
    color: var(--lui-color-neutral-light-content-text-lightest);
}

.bg-txt-caution,
.bg-txt-bw-caution {
    background-color: var(--lui-color-feedback-caution-layer-bg-surface);
    color: var(--lui-color-feedback-caution-content-text-dark);
}

.bg-txt-danger,
.bg-txt-bw-danger {
    background-color: var(--lui-color-feedback-danger-layer-bg-surface);
    color: var(--lui-color-feedback-danger-content-text-dark);
}

.bg-txt-info,
.bg-txt-bw-info {
    background-color: var(--lui-color-feedback-info-layer-bg-surface);
    color: var(--lui-color-feedback-info-content-text-dark);
}

.bg-txt-success,
.bg-txt-bw-success {
    background-color: var(--lui-color-feedback-success-layer-bg-surface);
    color: var(--lui-color-feedback-success-content-text-dark);
}

.bg-txt-neutral-light {
    background-color: var(--lui-color-neutral-light-layer-bg-surface);
    color: var(--lui-color-feedback-success-content-text-dark);
}

/* 
====================

Texts

====================
*/
.txt-neutral-light {
    background: none;
    color: var(--lui-color-neutral-dark-content-text-darkest);
}