@import "color-semantic.css";
@import "border.css";
@import "spacing.css";
@import "letsicons.css";

/* 
====================

Alert

====================
*/
.alert {
    display: flex;
    gap: var(--lui-spacing-16);
    padding: var(--lui-spacing-16);
    border-radius: var(--lui-border-radius-16);
}

.alert-content {
    width: 100%;
    display: block;
    margin-bottom: var(--lui-spacing-20);
}

.alert-content p:first-child { margin-bottom: var(--lui-spacing-2); }
.alert-content p:first-of-type { font-weight: var(--lui-typography-weight-bold) !important; }

.alert-actions button:first-child { margin-right: var(--lui-spacing-16); }

/*
====================

Breadcrumb

====================
*/
.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    padding: var(--lui-spacing-0);
    margin: var(--lui-spacing-0);
}

.breadcrumb li a { text-decoration: none; }

.breadcrumb li::after {
    content: "/";
    margin: var(--lui-spacing-0) var(--lui-spacing-8);
    color: var(--lui-color-neutral-light-content-text-soft);
}

.breadcrumb li:last-child::after {
    content: ""; /* Remove a barra do último item */
}

.breadcrumb li:last-child {
    color: var(--lui-color-neutral-light-content-text-soft);
    cursor: default;
}

/* 
====================

Button

====================
*/
button {
    font-weight: var(--lui-typography-weight-regular);
    border-width: var(--lui-border-width-0);
    transition: box-shadow 0.3s ease;
}

.btn-md {
    padding: var(--lui-spacing-12);
    font-size: var(--lui-typography-scale-size-body-md);
    border-radius: var(--lui-border-radius-12);
    
}

.btn-sm {
    padding: var(--lui-spacing-8);
    font-size: var(--lui-typography-scale-size-body-sm);
    border-radius: var(--lui-border-radius-8);
}

.btn-accent:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.btn-accent:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.btn-pressing { transform: scale(1); }
.btn-pressing:active { transform: scale(0.96); }

/* 
====================

Checkbox

====================
*/
.styled-checkbox input[type="checkbox"] {
    display: none;
}

/* Estilo do checkbox personalizado */
.styled-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.styled-checkbox span {
    display: inline-block;
    position: relative;
    border: var(--lui-border-width-1) solid var(--lui-color-neutral-light-layer-border-stroke);
    border-radius: var(--lui-border-radius-4);
    background-color: var(--lui-color-neutral-light-layer-bg-surface);
    margin-right: var(--lui-spacing-8);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.checkbox-lg { font-size: var(--lui-typography-scale-size-body-lg); }
.checkbox-lg span {
    width: var(--lui-spacing-20);
    height: var(--lui-spacing-20);
}

.checkbox-md { font-size: var(--lui-typography-scale-size-body-md); }
.checkbox-md span {
    width: var(--lui-spacing-16);
    height: var(--lui-spacing-16);
}

.styled-checkbox span:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24);
}

.styled-checkbox span:active {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

/* Estilo quando marcado */
.styled-checkbox input[type="checkbox"]:checked + span {
    background-color: var(--lui-color-brand-accent-layer-bg-container);
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.styled-checkbox input[type="checkbox"]:checked + span:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24);
}

.styled-checkbox input[type="checkbox"]:checked + span:active {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

/* Símbolo de check ao marcar */
.styled-checkbox input[type="checkbox"]:checked + span::after {
    font-family: 'letsicons';
    content: '\e902';
    color: var(--lui-color-neutral-light-layer-bg-surface);
    font-size: var(--lui-typography-scale-size-body-md);
    font-weight: var(--lui-typography-weight-bold);
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
====================

Link

====================
*/
a.link {
    color: var(--lui-color-brand-accent-content-text-hard);
    transition: filter 0.3s ease;
}
a.link:hover { filter: brightness(76%); }
a.link:active { filter: brightness(52%); }

/* 
====================

Fields

====================
*/
.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--lui-spacing-8);
}

input[type="color"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
select {
    color: var(--lui-color-neutral-dark-content-text-darkest);
    background-color: var(--lui-color-neutral-light-layer-bg-surface);
    border: var(--lui-spacing-2) solid var(--lui-color-neutral-dark-layer-border-stroke);
    transition: filter 0.3s ease; /* Transição suave */
}

input[type="text"]:hover,
select:hover {
    filter: brightness(76%);
}

input[type="text"]:focus,
select:focus {
    border: var(--lui-spacing-2) solid var(--lui-color-brand-accent-layer-border-stroke) !important;
    outline: none;
}

.form-field-lg {
    font-size: var(--lui-typography-scale-size-body-lg);
    border-radius: var(--lui-border-radius-8);
    padding: var(--lui-spacing-12);
}

.form-field-md {
    font-size: var(--lui-typography-scale-size-body-md);
    border-radius: var(--lui-border-radius-4);
    padding: var(--lui-spacing-8);
}

/* 
====================

Icon Button

====================
*/
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--lui-spacing-40);
    height: var(--lui-spacing-40);
    background: none;
    border-radius: var(--lui-border-radius-12);
}

.icon-button:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24);
    border-radius: var(--lui-border-radius-12);
}

.icon-button:active {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    border-radius: var(--lui-border-radius-circle);
}

.icon-button i {
    display: inline-block;
    width: var(--lui-spacing-24);
    height: var(--lui-spacing-24);
}

/* 
====================

Navbar

====================
*/
.navbar {
    position: sticky;
    top: 0;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    line-height: 1.5rem;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.navbar img { padding: var(--lui-spacing-16) var(--lui-spacing-16) var(--lui-spacing-0) var(--lui-spacing-16); }
.nav-section { padding: var(--lui-spacing-16); }
.nav-section h6 { margin-bottom: var(--lui-spacing-8); }

.nav-menu {
    padding: var(--lui-spacing-16);
    border-radius: 8px;
}

.nav-menu:hover { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24); }
.nav-menu:active { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); }

.menu-active {
    background-color: #8733ff;
    color: #fff;
    cursor: default;
}

.navbar a {
    color: var(--lui-color-neutral-dark-content-text-darkest);
    text-decoration: none;
}

/* 
====================

Label

====================
*/
label { color: var(--lui-color-neutral-dark-content-text-darkest); }

/* 
====================

Tag

====================
*/
.tag-md,
.tag-lg {
    width: fit-content;
    border-radius: var(--lui-border-radius-circle);
}

.tag-md {
    padding: var(--lui-spacing-2) var(--lui-spacing-8);
    font-size: var(--lui-typography-scale-size-body-md);
}

.tag-lg {
    padding: var(--lui-spacing-4) var(--lui-spacing-8);
    font-size: var(--lui-typography-scale-size-body-lg);
}

.tag-caution {
    background: var(--lui-color-feedback-caution-layer-bg-surface);
    border: var(--lui-border-width-1) solid var(--lui-color-feedback-caution-layer-border-enabled);
    color: var(--lui-color-feedback-caution-content-text-dark);
}

/*  */

.teste-btn {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: #F5F5F5; /* Cor do fundo */
}

/* Cria a borda usando ::before */
.teste-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #8733FF; /* Cor inicial da borda */
    transition: filter 0.3s ease; /* Transição suave */
}

/* Escurece a borda no hover */
.teste-btn:hover::before {
    filter: brightness(0.8); /* Escurece no hover */
}

/* Escurece mais no active */
.teste-btn:active::before {
    filter: brightness(0.6); /* Escurece mais no active */
}