/* Grid */
.grid,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6,
.col-t-1, .col-t-2, .col-t-3, .col-t-4,
.col-m-1, .col-m-2 {
    display: grid;
    gap: 24px;
    transition-duration: .2s;
}

.grid { grid-template-columns: repeat(1, 1fr); }

/* ==========================
   CONTÊINER FLEXÍVEL
========================== */
.flex {display: flex;}
.inline-flex {display: inline-flex;}

.flex-row {flex-direction: row;} /* Padrão */
.flex-row-reverse {flex-direction: row-reverse;}
.flex-column {flex-direction: column;}
.flex-column-reverse {flex-direction: column-reverse;}

.flex-wrap {flex-wrap: wrap;}
.flex-wrap-reverse {flex-wrap: wrap-reverse;}
.flex-nowrap {flex-wrap: nowrap;} /* Padrão */

.flex-justify-start {justify-content: flex-start;} /* Padrão */
.flex-justify-end {justify-content: flex-end;}
.flex-justify-center {justify-content: center;}
.flex-justify-space-between {justify-content: space-between;}
.flex-justify-space-around {justify-content: space-around;}
.flex-justify-space-evenly {justify-content: space-evenly;}

.flex-align-start {align-items: flex-start;}
.flex-align-end {align-items: flex-end;}
.flex-align-center {align-items: center;}
.flex-align-baseline {align-items: baseline;}
.flex-align-stretch {align-items: stretch;} /* Padrão */

.flex-align-content-start {align-content: flex-start;}
.flex-align-content-end {align-content: flex-end;}
.flex-align-content-center {align-content: center;}
.flex-align-content-space-between {align-content: space-between;}
.flex-align-content-space-around {align-content: space-around;}
.flex-align-content-stretch {align-content: stretch;} /* Padrão */

/* ==========================
   ITENS FLEXÍVEIS
========================== */
.flex-item-grow-0 {flex-grow: 0;} /* Padrão */
.flex-item-grow-1 {flex-grow: 1;}

.flex-item-shrink-0 {flex-shrink: 0;}
.flex-item-shrink-1 {flex-shrink: 1;} /* Padrão */

.flex-item-auto {flex: auto;} /* grow, shrink, basis automáticos */
.flex-item-initial {flex: initial;} /* grow: 0, shrink: 1, basis: auto */
.flex-item-none {flex: none;} /* grow: 0, shrink: 0, sem base */

.flex-item-order-0 {order: 0;} /* Padrão */
.flex-item-order-1 {order: 1;}
.flex-item-order-2 {order: 2;}
.flex-item-order-negative {order: -1;}

.flex-self-auto {align-self: auto;} /* Padrão */
.flex-self-start {align-self: flex-start;}
.flex-self-end {align-self: flex-end;}
.flex-self-center {align-self: center;}
.flex-self-baseline {align-self: baseline;}
.flex-self-stretch {align-self: stretch;}

.content { width: 100%; }

.body {
    display: flex;
    flex-direction: row;
}

/* Mobile */
@media (max-width: 719px) {
    .content { margin-top: var(--lui-spacing-16); }

    .grid {
        margin: 0 16px;
        gap: 16px !important;
    }

    .col-m-1 { grid-template-columns: repeat(1, 1fr); }
    .col-m-2 { grid-template-columns: repeat(2, 1fr); }

    .col-m-1,
    .col-m-2 {
        gap: 16px;
    }
}

/* Tablet */
@media (min-width: 720px) {
    .content { margin-top: var(--lui-spacing-24); }

    .grid {
        margin: 0 auto;
        max-width: 640px;
    }

    .col-t-1 { grid-template-columns: repeat(1, 1fr); }
    .col-t-2 { grid-template-columns: repeat(2, 1fr); }
    .col-t-3 { grid-template-columns: repeat(3, 1fr); }
    .col-t-4 { grid-template-columns: repeat(4, 1fr); }
}

/* Desktop */
@media (min-width: 1280px) {
    .content { margin-top: var(--lui-spacing-40); }

    .grid { max-width: 840px; }
  
    .col-d-1 { grid-template-columns: repeat(1, 1fr); }
    .col-d-2 { grid-template-columns: repeat(2, 1fr); }
    .col-d-3 { grid-template-columns: repeat(3, 1fr); }
    .col-d-4 { grid-template-columns: repeat(4, 1fr); }
    .col-d-5 { grid-template-columns: repeat(5, 1fr); }
    .col-d-6 { grid-template-columns: repeat(6, 1fr); }
}