/* Grid */
.grid,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6,
.col-t-1, .col-t-2, .col-t-3, .col-t-4,
.col-m-1, .col-m-2 {
    display: grid;
    gap: 24px;
    transition-duration: .2s;
}

.grid { grid-template-columns: repeat(1, 1fr); }

/* Flex Container */
.flex { display: flex; }
.inline-flex { display: inline-flex; }

/* Flex Direction */
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

/* Flex Wrap */
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

/* Justify Content */
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

/* Align Items */
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

/* Align Content */
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }


/* Mobile */
@media only screen and (max-width: 719px) {
    .grid {
        margin: 0 16px;
        gap: 16px !important;
    }

    .col-m-1 { grid-template-columns: repeat(1, 1fr); }
    .col-m-2 { grid-template-columns: repeat(2, 1fr); }

    .col-m-1,
    .col-m-2 {
        gap: 16px;
    }
}

/* Tablet */
@media only screen and (min-width: 720px) {
    .grid {
        margin: 0 auto;
        max-width: 640px;
    }

    .col-t-1 { grid-template-columns: repeat(1, 1fr); }
    .col-t-2 { grid-template-columns: repeat(2, 1fr); }
    .col-t-3 { grid-template-columns: repeat(3, 1fr); }
    .col-t-4 { grid-template-columns: repeat(4, 1fr); }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
    .grid {
        max-width: 840px;
    }
  
    .col-d-1 { grid-template-columns: repeat(1, 1fr); }
    .col-d-2 { grid-template-columns: repeat(2, 1fr); }
    .col-d-3 { grid-template-columns: repeat(3, 1fr); }
    .col-d-4 { grid-template-columns: repeat(4, 1fr); }
    .col-d-5 { grid-template-columns: repeat(5, 1fr); }
    .col-d-6 { grid-template-columns: repeat(6, 1fr); }
}