@font-face {
  font-family: 'letsicons';
  src:  url('../fonts/letsicons.eot?9fzsrf');
  src:  url('../fonts/letsicons.eot?9fzsrf#iefix') format('embedded-opentype'),
    url('../fonts/letsicons.ttf?9fzsrf') format('truetype'),
    url('../fonts/letsicons.woff?9fzsrf') format('woff'),
    url('../fonts/letsicons.svg?9fzsrf#letsicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'letsicons' !important;
  font-size: 24px;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-check-fill:before {
  content: "\e900";
}
.icon-circle-check-outline:before {
  content: "\e901";
}
.icon-circle-check-regular:before {
  content: "\e902";
}
.icon-circle-chevron-left-fill:before {
  content: "\e903";
}
.icon-circle-chevron-left-outline:before {
  content: "\e904";
}
.icon-circle-chevron-left-regular:before {
  content: "\e905";
}
.icon-circle-chevron-right-fill:before {
  content: "\e906";
}
.icon-circle-chevron-right-outline:before {
  content: "\e907";
}
.icon-circle-chevron-right-regular:before {
  content: "\e908";
}
.icon-circle-close-fill:before {
  content: "\e909";
}
.icon-circle-close-outline:before {
  content: "\e90a";
}
.icon-circle-close-regular:before {
  content: "\e90b";
}
.icon-circle-danger-fill:before {
  content: "\e90c";
}
.icon-circle-danger-outline:before {
  content: "\e90d";
}
.icon-circle-info-fill:before {
  content: "\e90e";
}
.icon-circle-info-outline:before {
  content: "\e90f";
}
.icon-exclamation-fill:before {
  content: "\e910";
}
.icon-exclamation-outline:before {
  content: "\e911";
}
.icon-trash-fill:before {
  content: "\e912";
}
.icon-trash-outline:before {
  content: "\e913";
}
