:root {
    --lui-spacing-0: 0px;
    --lui-spacing-2: 2px;
    --lui-spacing-4: 4px;
    --lui-spacing-8: 8px;
    --lui-spacing-12: 12px;
    --lui-spacing-16: 16px;
    --lui-spacing-20: 20px;
    --lui-spacing-24: 24px;
    --lui-spacing-28: 28px;
    --lui-spacing-32: 32px;
    --lui-spacing-36: 36px;
    --lui-spacing-40: 40px;
    --lui-spacing-48: 48px;
    --lui-spacing-52: 52px;
    --lui-spacing-56: 56px;
    --lui-spacing-60: 60px;
    --lui-spacing-64: 64px;
    --lui-spacing-68: 68px;
    --lui-spacing-72: 72px;
    --lui-spacing-76: 76px;
    --lui-spacing-80: 80px;
}

    .gap-0  { gap: var(--lui-spacing-0) }
    .gap-2  { gap: var(--lui-spacing-2) }
    .gap-4  { gap: var(--lui-spacing-4) }
    .gap-8  { gap: var(--lui-spacing-8) }
    .gap-12 { gap: var(--lui-spacing-12) }
    .gap-16 { gap: var(--lui-spacing-16) }
    .gap-20 { gap: var(--lui-spacing-20) }
    .gap-24 { gap: var(--lui-spacing-24) }
    .gap-28 { gap: var(--lui-spacing-28) }
    .gap-32 { gap: var(--lui-spacing-32) }
    .gap-36 { gap: var(--lui-spacing-36) }
    .gap-40 { gap: var(--lui-spacing-40) }
    .gap-48 { gap: var(--lui-spacing-48) }
    .gap-52 { gap: var(--lui-spacing-52) }
    .gap-56 { gap: var(--lui-spacing-56) }
    .gap-60 { gap: var(--lui-spacing-60) }
    .gap-64 { gap: var(--lui-spacing-64) }
    .gap-68 { gap: var(--lui-spacing-68) }
    .gap-72 { gap: var(--lui-spacing-72) }
    .gap-76 { gap: var(--lui-spacing-76) }
    .gap-80 { gap: var(--lui-spacing-80) }

    .margin-all-0  { margin: var(--lui-spacing-0) }
    .margin-all-2  { margin: var(--lui-spacing-2) }
    .margin-all-4  { margin: var(--lui-spacing-4) }
    .margin-all-8  { margin: var(--lui-spacing-8) }
    .margin-all-12 { margin: var(--lui-spacing-12) }
    .margin-all-16 { margin: var(--lui-spacing-16) }
    .margin-all-20 { margin: var(--lui-spacing-20) }
    .margin-all-24 { margin: var(--lui-spacing-24) }
    .margin-all-28 { margin: var(--lui-spacing-28) }
    .margin-all-32 { margin: var(--lui-spacing-32) }
    .margin-all-36 { margin: var(--lui-spacing-36) }
    .margin-all-40 { margin: var(--lui-spacing-40) }
    .margin-all-48 { margin: var(--lui-spacing-48) }
    .margin-all-52 { margin: var(--lui-spacing-52) }
    .margin-all-56 { margin: var(--lui-spacing-56) }
    .margin-all-60 { margin: var(--lui-spacing-60) }
    .margin-all-64 { margin: var(--lui-spacing-64) }
    .margin-all-68 { margin: var(--lui-spacing-68) }
    .margin-all-72 { margin: var(--lui-spacing-72) }
    .margin-all-76 { margin: var(--lui-spacing-76) }
    .margin-all-80 { margin: var(--lui-spacing-80) }

    .margin-t-0  { margin-top: var(--lui-spacing-0) }
    .margin-t-2  { margin-top: var(--lui-spacing-2) }
    .margin-t-4  { margin-top: var(--lui-spacing-4) }
    .margin-t-8  { margin-top: var(--lui-spacing-8) }
    .margin-t-12 { margin-top: var(--lui-spacing-12) }
    .margin-t-16 { margin-top: var(--lui-spacing-16) }
    .margin-t-20 { margin-top: var(--lui-spacing-20) }
    .margin-t-24 { margin-top: var(--lui-spacing-24) }
    .margin-t-28 { margin-top: var(--lui-spacing-28) }
    .margin-t-32 { margin-top: var(--lui-spacing-32) }
    .margin-t-36 { margin-top: var(--lui-spacing-36) }
    .margin-t-40 { margin-top: var(--lui-spacing-40) }
    .margin-t-48 { margin-top: var(--lui-spacing-48) }
    .margin-t-52 { margin-top: var(--lui-spacing-52) }
    .margin-t-56 { margin-top: var(--lui-spacing-56) }
    .margin-t-60 { margin-top: var(--lui-spacing-60) }
    .margin-t-64 { margin-top: var(--lui-spacing-64) }
    .margin-t-68 { margin-top: var(--lui-spacing-68) }
    .margin-t-72 { margin-top: var(--lui-spacing-72) }
    .margin-t-76 { margin-top: var(--lui-spacing-76) }
    .margin-t-80 { margin-top: var(--lui-spacing-80) }

    .margin-b-0  { margin-bottom: var(--lui-spacing-0) }
    .margin-b-2  { margin-bottom: var(--lui-spacing-2) }
    .margin-b-4  { margin-bottom: var(--lui-spacing-4) }
    .margin-b-8  { margin-bottom: var(--lui-spacing-8) }
    .margin-b-12 { margin-bottom: var(--lui-spacing-12) }
    .margin-b-16 { margin-bottom: var(--lui-spacing-16) }
    .margin-b-20 { margin-bottom: var(--lui-spacing-20) }
    .margin-b-24 { margin-bottom: var(--lui-spacing-24) }
    .margin-b-28 { margin-bottom: var(--lui-spacing-28) }
    .margin-b-32 { margin-bottom: var(--lui-spacing-32) }
    .margin-b-36 { margin-bottom: var(--lui-spacing-36) }
    .margin-b-40 { margin-bottom: var(--lui-spacing-40) }
    .margin-b-48 { margin-bottom: var(--lui-spacing-48) }
    .margin-b-52 { margin-bottom: var(--lui-spacing-52) }
    .margin-b-56 { margin-bottom: var(--lui-spacing-56) }
    .margin-b-60 { margin-bottom: var(--lui-spacing-60) }
    .margin-b-64 { margin-bottom: var(--lui-spacing-64) }
    .margin-b-68 { margin-bottom: var(--lui-spacing-68) }
    .margin-b-72 { margin-bottom: var(--lui-spacing-72) }
    .margin-b-76 { margin-bottom: var(--lui-spacing-76) }
    .margin-b-80 { margin-bottom: var(--lui-spacing-80) }

    .margin-l-0  { margin-left: var(--lui-spacing-0) }
    .margin-l-2  { margin-left: var(--lui-spacing-2) }
    .margin-l-4  { margin-left: var(--lui-spacing-4) }
    .margin-l-8  { margin-left: var(--lui-spacing-8) }
    .margin-l-12 { margin-left: var(--lui-spacing-12) }
    .margin-l-16 { margin-left: var(--lui-spacing-16) }
    .margin-l-20 { margin-left: var(--lui-spacing-20) }
    .margin-l-24 { margin-left: var(--lui-spacing-24) }
    .margin-l-28 { margin-left: var(--lui-spacing-28) }
    .margin-l-32 { margin-left: var(--lui-spacing-32) }
    .margin-l-36 { margin-left: var(--lui-spacing-36) }
    .margin-l-40 { margin-left: var(--lui-spacing-40) }
    .margin-l-48 { margin-left: var(--lui-spacing-48) }
    .margin-l-52 { margin-left: var(--lui-spacing-52) }
    .margin-l-56 { margin-left: var(--lui-spacing-56) }
    .margin-l-60 { margin-left: var(--lui-spacing-60) }
    .margin-l-64 { margin-left: var(--lui-spacing-64) }
    .margin-l-68 { margin-left: var(--lui-spacing-68) }
    .margin-l-72 { margin-left: var(--lui-spacing-72) }
    .margin-l-76 { margin-left: var(--lui-spacing-76) }
    .margin-l-80 { margin-left: var(--lui-spacing-80) }

    .margin-r-0  { margin-right: var(--lui-spacing-0) }
    .margin-r-2  { margin-right: var(--lui-spacing-2) }
    .margin-r-4  { margin-right: var(--lui-spacing-4) }
    .margin-r-8  { margin-right: var(--lui-spacing-8) }
    .margin-r-12 { margin-right: var(--lui-spacing-12) }
    .margin-r-16 { margin-right: var(--lui-spacing-16) }
    .margin-r-20 { margin-right: var(--lui-spacing-20) }
    .margin-r-24 { margin-right: var(--lui-spacing-24) }
    .margin-r-28 { margin-right: var(--lui-spacing-28) }
    .margin-r-32 { margin-right: var(--lui-spacing-32) }
    .margin-r-36 { margin-right: var(--lui-spacing-36) }
    .margin-r-40 { margin-right: var(--lui-spacing-40) }
    .margin-r-48 { margin-right: var(--lui-spacing-48) }
    .margin-r-52 { margin-right: var(--lui-spacing-52) }
    .margin-r-56 { margin-right: var(--lui-spacing-56) }
    .margin-r-60 { margin-right: var(--lui-spacing-60) }
    .margin-r-64 { margin-right: var(--lui-spacing-64) }
    .margin-r-68 { margin-right: var(--lui-spacing-68) }
    .margin-r-72 { margin-right: var(--lui-spacing-72) }
    .margin-r-76 { margin-right: var(--lui-spacing-76) }
    .margin-r-80 { margin-right: var(--lui-spacing-80) }

    .margin-t-b-0 { margin: var(--lui-spacing-0) var(--lui-spacing-0) }
    .margin-t-b-2 { margin: var(--lui-spacing-2) var(--lui-spacing-0) }
    .margin-t-b-4 { margin: var(--lui-spacing-4) var(--lui-spacing-0) }
    .margin-t-b-8 { margin: var(--lui-spacing-8) var(--lui-spacing-0) }
    .margin-t-b-12 { margin: var(--lui-spacing-12) var(--lui-spacing-0) }
    .margin-t-b-16 { margin: var(--lui-spacing-16) var(--lui-spacing-0) }
    .margin-t-b-20 { margin: var(--lui-spacing-20) var(--lui-spacing-0) }
    .margin-t-b-24 { margin: var(--lui-spacing-24) var(--lui-spacing-0) }
    .margin-t-b-28 { margin: var(--lui-spacing-28) var(--lui-spacing-0) }
    .margin-t-b-32 { margin: var(--lui-spacing-32) var(--lui-spacing-0) }
    .margin-t-b-36 { margin: var(--lui-spacing-36) var(--lui-spacing-0) }
    .margin-t-b-40 { margin: var(--lui-spacing-40) var(--lui-spacing-0) }
    .margin-t-b-48 { margin: var(--lui-spacing-48) var(--lui-spacing-0) }
    .margin-t-b-52 { margin: var(--lui-spacing-52) var(--lui-spacing-0) }
    .margin-t-b-56 { margin: var(--lui-spacing-56) var(--lui-spacing-0) }
    .margin-t-b-60 { margin: var(--lui-spacing-60) var(--lui-spacing-0) }
    .margin-t-b-64 { margin: var(--lui-spacing-64) var(--lui-spacing-0) }
    .margin-t-b-68 { margin: var(--lui-spacing-68) var(--lui-spacing-0) }
    .margin-t-b-72 { margin: var(--lui-spacing-72) var(--lui-spacing-0) }
    .margin-t-b-76 { margin: var(--lui-spacing-76) var(--lui-spacing-0) }
    .margin-t-b-80 { margin: var(--lui-spacing-80) var(--lui-spacing-0) }

    .margin-l-r-0 { margin: var(--lui-spacing-0) var(--lui-spacing-0) }
    .margin-l-r-2 { margin: var(--lui-spacing-0) var(--lui-spacing-2) }
    .margin-l-r-4 { margin: var(--lui-spacing-0) var(--lui-spacing-4) }
    .margin-l-r-8 { margin: var(--lui-spacing-0) var(--lui-spacing-8) }
    .margin-l-r-12 { margin: var(--lui-spacing-0) var(--lui-spacing-12) }
    .margin-l-r-16 { margin: var(--lui-spacing-0) var(--lui-spacing-16) }
    .margin-l-r-20 { margin: var(--lui-spacing-0) var(--lui-spacing-20) }
    .margin-l-r-24 { margin: var(--lui-spacing-0) var(--lui-spacing-24) }
    .margin-l-r-28 { margin: var(--lui-spacing-0) var(--lui-spacing-28) }
    .margin-l-r-32 { margin: var(--lui-spacing-0) var(--lui-spacing-32) }
    .margin-l-r-36 { margin: var(--lui-spacing-0) var(--lui-spacing-36) }
    .margin-l-r-40 { margin: var(--lui-spacing-0) var(--lui-spacing-40) }
    .margin-l-r-48 { margin: var(--lui-spacing-0) var(--lui-spacing-48) }
    .margin-l-r-52 { margin: var(--lui-spacing-0) var(--lui-spacing-52) }
    .margin-l-r-56 { margin: var(--lui-spacing-0) var(--lui-spacing-56) }
    .margin-l-r-60 { margin: var(--lui-spacing-0) var(--lui-spacing-60) }
    .margin-l-r-64 { margin: var(--lui-spacing-0) var(--lui-spacing-64) }
    .margin-l-r-68 { margin: var(--lui-spacing-0) var(--lui-spacing-68) }
    .margin-l-r-72 { margin: var(--lui-spacing-0) var(--lui-spacing-72) }
    .margin-l-r-76 { margin: var(--lui-spacing-0) var(--lui-spacing-76) }
    .margin-l-r-80 { margin: var(--lui-spacing-0) var(--lui-spacing-80) }

    .padding-all-0  { padding: var(--lui-spacing-0) }
    .padding-all-2  { padding: var(--lui-spacing-2) }
    .padding-all-4  { padding: var(--lui-spacing-4) }
    .padding-all-8  { padding: var(--lui-spacing-8) }
    .padding-all-12 { padding: var(--lui-spacing-12) }
    .padding-all-16 { padding: var(--lui-spacing-16) }
    .padding-all-20 { padding: var(--lui-spacing-20) }
    .padding-all-24 { padding: var(--lui-spacing-24) }
    .padding-all-28 { padding: var(--lui-spacing-28) }
    .padding-all-32 { padding: var(--lui-spacing-32) }
    .padding-all-36 { padding: var(--lui-spacing-36) }
    .padding-all-40 { padding: var(--lui-spacing-40) }
    .padding-all-48 { padding: var(--lui-spacing-48) }
    .padding-all-52 { padding: var(--lui-spacing-52) }
    .padding-all-56 { padding: var(--lui-spacing-56) }
    .padding-all-60 { padding: var(--lui-spacing-60) }
    .padding-all-64 { padding: var(--lui-spacing-64) }
    .padding-all-68 { padding: var(--lui-spacing-68) }
    .padding-all-72 { padding: var(--lui-spacing-72) }
    .padding-all-76 { padding: var(--lui-spacing-76) }
    .padding-all-80 { padding: var(--lui-spacing-80) }

    .padding-t-0  { padding-top: var(--lui-spacing-0) }
    .padding-t-2  { padding-top: var(--lui-spacing-2) }
    .padding-t-4  { padding-top: var(--lui-spacing-4) }
    .padding-t-8  { padding-top: var(--lui-spacing-8) }
    .padding-t-12 { padding-top: var(--lui-spacing-12) }
    .padding-t-16 { padding-top: var(--lui-spacing-16) }
    .padding-t-20 { padding-top: var(--lui-spacing-20) }
    .padding-t-24 { padding-top: var(--lui-spacing-24) }
    .padding-t-28 { padding-top: var(--lui-spacing-28) }
    .padding-t-32 { padding-top: var(--lui-spacing-32) }
    .padding-t-36 { padding-top: var(--lui-spacing-36) }
    .padding-t-40 { padding-top: var(--lui-spacing-40) }
    .padding-t-48 { padding-top: var(--lui-spacing-48) }
    .padding-t-52 { padding-top: var(--lui-spacing-52) }
    .padding-t-56 { padding-top: var(--lui-spacing-56) }
    .padding-t-60 { padding-top: var(--lui-spacing-60) }
    .padding-t-64 { padding-top: var(--lui-spacing-64) }
    .padding-t-68 { padding-top: var(--lui-spacing-68) }
    .padding-t-72 { padding-top: var(--lui-spacing-72) }
    .padding-t-76 { padding-top: var(--lui-spacing-76) }
    .padding-t-80 { padding-top: var(--lui-spacing-80) }

    .padding-b-0  { padding-bottom: var(--lui-spacing-0) }
    .padding-b-2  { padding-bottom: var(--lui-spacing-2) }
    .padding-b-4  { padding-bottom: var(--lui-spacing-4) }
    .padding-b-8  { padding-bottom: var(--lui-spacing-8) }
    .padding-b-12 { padding-bottom: var(--lui-spacing-12) }
    .padding-b-16 { padding-bottom: var(--lui-spacing-16) }
    .padding-b-20 { padding-bottom: var(--lui-spacing-20) }
    .padding-b-24 { padding-bottom: var(--lui-spacing-24) }
    .padding-b-28 { padding-bottom: var(--lui-spacing-28) }
    .padding-b-32 { padding-bottom: var(--lui-spacing-32) }
    .padding-b-36 { padding-bottom: var(--lui-spacing-36) }
    .padding-b-40 { padding-bottom: var(--lui-spacing-40) }
    .padding-b-48 { padding-bottom: var(--lui-spacing-48) }
    .padding-b-52 { padding-bottom: var(--lui-spacing-52) }
    .padding-b-56 { padding-bottom: var(--lui-spacing-56) }
    .padding-b-60 { padding-bottom: var(--lui-spacing-60) }
    .padding-b-64 { padding-bottom: var(--lui-spacing-64) }
    .padding-b-68 { padding-bottom: var(--lui-spacing-68) }
    .padding-b-72 { padding-bottom: var(--lui-spacing-72) }
    .padding-b-76 { padding-bottom: var(--lui-spacing-76) }
    .padding-b-80 { padding-bottom: var(--lui-spacing-80) }

    .padding-l-0  { padding-left: var(--lui-spacing-0) }
    .padding-l-2  { padding-left: var(--lui-spacing-2) }
    .padding-l-4  { padding-left: var(--lui-spacing-4) }
    .padding-l-8  { padding-left: var(--lui-spacing-8) }
    .padding-l-12 { padding-left: var(--lui-spacing-12) }
    .padding-l-16 { padding-left: var(--lui-spacing-16) }
    .padding-l-20 { padding-left: var(--lui-spacing-20) }
    .padding-l-24 { padding-left: var(--lui-spacing-24) }
    .padding-l-28 { padding-left: var(--lui-spacing-28) }
    .padding-l-32 { padding-left: var(--lui-spacing-32) }
    .padding-l-36 { padding-left: var(--lui-spacing-36) }
    .padding-l-40 { padding-left: var(--lui-spacing-40) }
    .padding-l-48 { padding-left: var(--lui-spacing-48) }
    .padding-l-52 { padding-left: var(--lui-spacing-52) }
    .padding-l-56 { padding-left: var(--lui-spacing-56) }
    .padding-l-60 { padding-left: var(--lui-spacing-60) }
    .padding-l-64 { padding-left: var(--lui-spacing-64) }
    .padding-l-68 { padding-left: var(--lui-spacing-68) }
    .padding-l-72 { padding-left: var(--lui-spacing-72) }
    .padding-l-76 { padding-left: var(--lui-spacing-76) }
    .padding-l-80 { padding-left: var(--lui-spacing-80) }

    .padding-r-0  { padding-right: var(--lui-spacing-0) }
    .padding-r-2  { padding-right: var(--lui-spacing-2) }
    .padding-r-4  { padding-right: var(--lui-spacing-4) }
    .padding-r-8  { padding-right: var(--lui-spacing-8) }
    .padding-r-12 { padding-right: var(--lui-spacing-12) }
    .padding-r-16 { padding-right: var(--lui-spacing-16) }
    .padding-r-20 { padding-right: var(--lui-spacing-20) }
    .padding-r-24 { padding-right: var(--lui-spacing-24) }
    .padding-r-28 { padding-right: var(--lui-spacing-28) }
    .padding-r-32 { padding-right: var(--lui-spacing-32) }
    .padding-r-36 { padding-right: var(--lui-spacing-36) }
    .padding-r-40 { padding-right: var(--lui-spacing-40) }
    .padding-r-48 { padding-right: var(--lui-spacing-48) }
    .padding-r-52 { padding-right: var(--lui-spacing-52) }
    .padding-r-56 { padding-right: var(--lui-spacing-56) }
    .padding-r-60 { padding-right: var(--lui-spacing-60) }
    .padding-r-64 { padding-right: var(--lui-spacing-64) }
    .padding-r-68 { padding-right: var(--lui-spacing-68) }
    .padding-r-72 { padding-right: var(--lui-spacing-72) }
    .padding-r-76 { padding-right: var(--lui-spacing-76) }
    .padding-r-80 { padding-right: var(--lui-spacing-80) }

    .padding-t-b-0 { padding: var(--lui-spacing-0) var(--lui-spacing-0) }
    .padding-t-b-2 { padding: var(--lui-spacing-2) var(--lui-spacing-0) }
    .padding-t-b-4 { padding: var(--lui-spacing-4) var(--lui-spacing-0) }
    .padding-t-b-8 { padding: var(--lui-spacing-8) var(--lui-spacing-0) }
    .padding-t-b-12 { padding: var(--lui-spacing-12) var(--lui-spacing-0) }
    .padding-t-b-16 { padding: var(--lui-spacing-16) var(--lui-spacing-0) }
    .padding-t-b-20 { padding: var(--lui-spacing-20) var(--lui-spacing-0) }
    .padding-t-b-24 { padding: var(--lui-spacing-24) var(--lui-spacing-0) }
    .padding-t-b-28 { padding: var(--lui-spacing-28) var(--lui-spacing-0) }
    .padding-t-b-32 { padding: var(--lui-spacing-32) var(--lui-spacing-0) }
    .padding-t-b-36 { padding: var(--lui-spacing-36) var(--lui-spacing-0) }
    .padding-t-b-40 { padding: var(--lui-spacing-40) var(--lui-spacing-0) }
    .padding-t-b-48 { padding: var(--lui-spacing-48) var(--lui-spacing-0) }
    .padding-t-b-52 { padding: var(--lui-spacing-52) var(--lui-spacing-0) }
    .padding-t-b-56 { padding: var(--lui-spacing-56) var(--lui-spacing-0) }
    .padding-t-b-60 { padding: var(--lui-spacing-60) var(--lui-spacing-0) }
    .padding-t-b-64 { padding: var(--lui-spacing-64) var(--lui-spacing-0) }
    .padding-t-b-68 { padding: var(--lui-spacing-68) var(--lui-spacing-0) }
    .padding-t-b-72 { padding: var(--lui-spacing-72) var(--lui-spacing-0) }
    .padding-t-b-76 { padding: var(--lui-spacing-76) var(--lui-spacing-0) }
    .padding-t-b-80 { padding: var(--lui-spacing-80) var(--lui-spacing-0) }

    .padding-l-r-0 { padding: var(--lui-spacing-0) var(--lui-spacing-0) }
    .padding-l-r-2 { padding: var(--lui-spacing-0) var(--lui-spacing-2) }
    .padding-l-r-4 { padding: var(--lui-spacing-0) var(--lui-spacing-4) }
    .padding-l-r-8 { padding: var(--lui-spacing-0) var(--lui-spacing-8) }
    .padding-l-r-12 { padding: var(--lui-spacing-0) var(--lui-spacing-12) }
    .padding-l-r-16 { padding: var(--lui-spacing-0) var(--lui-spacing-16) }
    .padding-l-r-20 { padding: var(--lui-spacing-0) var(--lui-spacing-20) }
    .padding-l-r-24 { padding: var(--lui-spacing-0) var(--lui-spacing-24) }
    .padding-l-r-28 { padding: var(--lui-spacing-0) var(--lui-spacing-28) }
    .padding-l-r-32 { padding: var(--lui-spacing-0) var(--lui-spacing-32) }
    .padding-l-r-36 { padding: var(--lui-spacing-0) var(--lui-spacing-36) }
    .padding-l-r-40 { padding: var(--lui-spacing-0) var(--lui-spacing-40) }
    .padding-l-r-48 { padding: var(--lui-spacing-0) var(--lui-spacing-48) }
    .padding-l-r-52 { padding: var(--lui-spacing-0) var(--lui-spacing-52) }
    .padding-l-r-56 { padding: var(--lui-spacing-0) var(--lui-spacing-56) }
    .padding-l-r-60 { padding: var(--lui-spacing-0) var(--lui-spacing-60) }
    .padding-l-r-64 { padding: var(--lui-spacing-0) var(--lui-spacing-64) }
    .padding-l-r-68 { padding: var(--lui-spacing-0) var(--lui-spacing-68) }
    .padding-l-r-72 { padding: var(--lui-spacing-0) var(--lui-spacing-72) }
    .padding-l-r-76 { padding: var(--lui-spacing-0) var(--lui-spacing-76) }
    .padding-l-r-80 { padding: var(--lui-spacing-0) var(--lui-spacing-80) }