/* Global */
:root {
    --lui-typography-family-heading: var(--typography-main-font);
    --lui-typography-family-body: var(--typography-support-font);

    --lui-typography-style-normal: normal;
    --lui-typography-style-italic: italic;

    --lui-typography-transform-none: none;
    --lui-typography-transform-uppercase: uppercase;
    --lui-typography-transform-lowercase: lowercase;
    --lui-typography-transform-capitalize: capitalize;

    --lui-typography-decoration-none: none;
    --lui-typography-decoration-underline: underline;
    --lui-typography-decoration-underline-dotted: dotted underline;
    --lui-typography-decoration-underline-dashed: dashed underline;
    --lui-typography-decoration-underline-wavy: wavy underline;
    --lui-typography-decoration-overline: overline;
    --lui-typography-decoration-overline-dotted: dotted overline;
    --lui-typography-decoration-overline-dashed: dashed overline;
    --lui-typography-decoration-overline-wavy: wavy overline;
    --lui-typography-decoration-underline-overline: underline overline;
    --lui-typography-decoration-line-through: line-through;
    --lui-typography-decoration-underline-double: underline double;
    --lui-typography-decoration-underline-dotted-double: dotted underline double;
    --lui-typography-decoration-underline-dashed-double: dashed underline double;
    --lui-typography-decoration-underline-wavy-double: wavy underline double;
    --lui-typography-decoration-overline-double: overline double;
    --lui-typography-decoration-underline-overline-double: underline overline double;
    --lui-typography-decoration-line-through-double: line-through double;

    --lui-typography-decoration-thickness-2xl: 4px;
    --lui-typography-decoration-thickness-lg: 2px;

    --lui-typography-tracking-2xl: 2px;
    --lui-typography-tracking-xl: 1px;
    --lui-typography-tracking-lg: 0.5px;
    --lui-typography-tracking-none: 0;
    --lui-typography-tracking-sm: -0.5px;
    --lui-typography-tracking-xs: -1px;
    --lui-typography-tracking-2xs: -2px;
    
    --lui-typography-line-height-lg: 1.5;
    --lui-typography-line-height-sm: 1.2;
    
    --lui-typography-weight-regular: 400;
    --lui-typography-weight-medium: 500;
    --lui-typography-weight-semibold: 600;
    --lui-typography-weight-bold: 700;

    --lui-typography-scale-base: 1rem;
    
    --lui-typography-scale-size-display: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-title: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-subtitle: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-headline: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-block-title: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-subheadline: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-section-tag: calc(var(--lui-typography-scale-base) / var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-body-lg: calc(var(--lui-typography-scale-base) * var(--lui-typography-scale-size-base));
    --lui-typography-scale-size-body-md: var(--lui-typography-scale-base);
    --lui-typography-scale-size-body-sm: calc(var(--lui-typography-scale-base) / var(--lui-typography-scale-size-base));
}

/* Mobile */
@media only screen and (max-width: 1279px) {
    :root { --lui-typography-scale-size-base: 1.125; }

    html, body {
        font-size: 14px !important;
    }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
    :root { --lui-typography-scale-size-base: 1.2; }

    html, body {
        font-size: 16px !important;
    }
}

html, body, .display, h1, h2, h3, h4, h5, h6, label {
    font-family: var(--lui-typography-family-heading) !important;
    line-height: var(--lui-typography-line-height-sm) !important;
}

p, input, select, button {
    font-family: var(--lui-typography-family-body) !important;
    line-height: var(--lui-typography-line-height-lg) !important;
}

.display, .title, .section-tag, .text-weight-bold { font-weight: var(--lui-typography-weight-bold) !important; }
.headline, .block-title, .text-weight-semibold { font-weight: var(--lui-typography-weight-semibold) !important; }
.subheadline, .text-weight-medium { font-weight: var(--lui-typography-weight-medium) !important; }
.display, .title, .subtitle, .headline, .subheadline, .block-title, .section-tag, p { text-decoration: var(--lui-typography-decoration-style-none) !important; }
.display, .title, .subtitle, .headline, .subheadline, .block-title, p { text-transform: var(--lui-typography-transform-none) !important; }
.subheadline, p { letter-spacing: var(--lui-typography-tracking-none) !important; }
p { font-weight: var(--lui-typography-weight-regular) !important; }
.subtitle, h3, h5 { letter-spacing: var(--lui-typography-tracking-sm) !important; }

.display {
    font-size: var(--lui-typography-scale-size-display) !important;
    letter-spacing: var(--lui-typography-tracking-2xs) !important;
}

.title {
    font-size: var(--lui-typography-scale-size-title) !important;
    letter-spacing: var(--lui-typography-tracking-xs) !important;
}

.subtitle {
    font-size: var(--lui-typography-scale-size-subtitle) !important;
}

.headline {
    font-size: var(--lui-typography-scale-size-headline) !important;
}

.subheadline {
    font-size: var(--lui-typography-scale-size-subheadline) !important;
}

.block-title {
    font-size: var(--lui-typography-scale-size-block-title) !important;
}

.section-tag {
    font-size: var(--lui-typography-scale-size-section-tag) !important;
    letter-spacing: var(--lui-typography-tracking-xl) !important;
    text-transform: var(--lui-typography-transform-uppercase) !important;
}

.body-lg,
span.body-lg {
    font-size: var(--lui-typography-scale-size-body-lg) !important;
}

p,
.body-md,
span.body-md {
    font-size: var(--lui-typography-scale-size-body-md) !important;
}

.body-sm,
span.body-sm {
    font-size: var(--lui-typography-scale-size-body-sm) !important;
}

.text-style-italic { font-style: var(--lui-typography-style-italic) }

.text-decoration-underline { text-decoration: var(--lui-typography-decoration-underline) }
.text-decoration-line-through { text-decoration: var(--lui-typography-decoration-line-through) }

.text-transform-uppercase { text-transform: var(--lui-typography-transform-uppercase) }