@use "sass:map";
@use "./opacity.map" as opacity;

@function opacity($category) {
  $value: map.get(opacity.$opacity, $category);

  @if $value == null {
    @error 'Invalid opacity: "#{$category}"';
  }

  @return $value;
}
