button.btn {
  position: relative;
  overflow: hidden;
  font-weight: var(--lui-typography-weight-regular);
  border: var(--lui-spacing-0);
  outline: var(--lui-spacing-0);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}

/* Fundo visual com ::before */
button.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: inherit;
  z-index: -1;
  transition: filter 0.2s ease-in-out;
}

/* Sizes */
button.btn-md {
  padding: var(--lui-spacing-12);
  font-size: var(--lui-typography-scale-size-body-lg);
  border-radius: var(--lui-border-radius-12);
}

button.btn-sm {
  padding: var(--lui-spacing-8);
  font-size: var(--lui-typography-scale-size-body-md);
  border-radius: var(--lui-border-radius-8);
}

/* Variants */
button.btn-primary, 
button.btn-secondary, 
button.btn-danger, 
button.btn-success {
    background-color: transparent;
}

button.btn-primary {
  color: var(--lui-color-button-primary-text);
}

button.btn-primary::before {
  background-color: var(--lui-color-button-primary-background);
}

button.btn-secondary {
  color: var(--lui-color-button-secondary-text);
}

button.btn-secondary::before {
  background-color: var(--lui-color-button-secondary-background);
}

button.btn-tertiary {
  color: var(--lui-color-button-tertiary-text);
}

button.btn-tertiary::before {
  content: '';
  position: absolute;
  background-color: var(--lui-color-neutral-dark-layer-bg-surface);
  inset: 0;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
}

button.btn-danger {
  color: var(--lui-color-button-danger-text);
}

button.btn-danger::before {
  background-color: var(--lui-color-button-danger-background);
}

button.btn-success {
  color: var(--lui-color-button-tertiary-text);
}

button.btn-success::before {
  background-color: var(--lui-color-button-success-background);
}

button.btn:hover::before {
  filter: brightness(0.76);
}

button.btn-tertiary:hover::before {
  opacity: 0.24;
}

button.btn:active {
  outline: var(--lui-border-width-2) solid transparent;
  outline-offset: var(--lui-border-width-2);
}

button.btn:active::before {
  filter: brightness(0.6);
}

button.btn:active:not(:disabled) {
  transform: scale(0.98);
}

button.btn-tertiary:active::before {
  opacity: 0.4;
}

button.btn-primary:focus {
  box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
}

button.btn-secondary:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

button.btn-tertiary:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

button.btn-danger:focus {
  box-shadow: 0 0 0 3px rgba(238, 67, 67, 0.3);
}

button.btn-success:focus {
  box-shadow: 0 0 0 3px rgba(87, 238, 67, 0.3);
}

button.btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

button.btn:disabled::before {
  background-color: var(--lui-color-brand-accent-layer-bg-container);
  filter: none;
}