@use 'utilities/src/functions' as *;

.alert {
  color: text(body);
  background-color: bg(surface, neutral);
  padding: fluid(16);
  gap: fluid(16);
  border-radius: radius(lg);

  &__content,
  &__actions {
    display: flex;
  }

  &__content {
    gap: fluid(16);
    align-items: flex-start;
  }

  &__icon {
    flex-shrink: 0;
    font-size: fluid(24);
  }

  &__text {
    width: 100%;

    p {
      &:first-child {
        margin-bottom: fluid(2);
      }

      &:first-of-type {
        font-weight: weight(bold) !important;
      }
    }
  }

  &__actions {
    margin-top: fluid(24);
    justify-content: flex-end;
    gap: fluid(16);
  }

  $border-color: caution, danger, info, success;

  @each $key in $border-color {
    &.alert--#{$key} {
      border: width(2) stroke(#{$key}) solid;

      & i.alert__icon {
        color: icon(#{$key});
      }
    }
  }
}
