@use 'sass:map';
@use 'utilities/src/functions' as *;
@use 'utilities/src/mixins' as *;

$sizes: (
  lg: (
    track-w: 40px,
    track-h: 24px,
    thumb: 16px,
    offset: 3px,
    translate: 16px,
  ),
  md: (
    track-w: 26px,
    track-h: 16px,
    thumb: 10px,
    offset: 2px,
    translate: 10px,
  ),
);

.switch {
  display: flex;
  align-items: center;
  gap: fixed(8);
  user-select: none;
  margin: fixed(0);
  padding: fixed(0);

  input {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    border-radius: radius(circle);
    background-color: bg(surface, neutral);
    border: width(1) solid stroke(neutral, subtle);
    transition: all 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      border-radius: radius(circle);
      background-color: bg(container, neutral);
      transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
      box-shadow: focus-ring(primary);
      outline: none;
      outline-offset: 3px;
    }

    &:checked {
      background-color: bg(container, primary);
      border: width(1) solid transparent;

      @include states(primary, primary, primary);

      &::after {
        background-color: bg(surface, neutral);
      }
    }

    &:not(:disabled, :checked):hover {
      border-color: stroke(neutral, default);
    }
  }

  @each $key, $values in $sizes {
    &--#{$key} input[type='checkbox'] {
      width: map.get($values, track-w);
      height: map.get($values, track-h);

      &::after {
        width: map.get($values, thumb);
        height: map.get($values, thumb);
        top: map.get($values, offset);
        left: map.get($values, offset);
      }

      &:checked::after {
        transform: translateX(map.get($values, translate));
      }
    }
  }

  &:not(:has(input[type='checkbox']:disabled)) {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }

  &:has(input[type='checkbox']:disabled) {
    cursor: not-allowed;
    opacity: opacity(disabled);
  }
}
