@use "sass:map";
@use "./border.map" as border;

// radius($size)
//  $size = 1xs | sm | md | lg | circle | none
// 
// width($size)
//  $size = 0 | 1 | 2

@function radius($size) {
  $value: map.get(border.$border, radius, $size);

  @if $value == null {
    @error 'Invalid border-radius: "#{$size}"';
  }

  @return $value;
}

@function width($size) {
  $value: map.get(border.$border, width, $size);

  @if $value == null {
    @error 'Invalid border-width: "#{$size}"';
  }

  @return $value;
}
