@use './border.tokens' as *;

:root {
  --radius-1xs: #{$radius-1xs};
  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-circle: #{$radius-circle};
  --radius-none: #{$radius-none};

  --border-0: #{$border-0};
  --border-1: #{$border-1};
  --border-2: #{$border-2};

  --brand-radius-1xs: #{$brand-radius-1xs};
  --brand-radius-sm: #{$brand-radius-sm};
  --brand-radius-md: #{$brand-radius-md};
  --brand-radius-lg: #{$brand-radius-lg};
}
