@use '../../dist/tokens.scss' as tokens;
@use 'tokens' as token;

$radius-1xs: tokens.token('lui.border.radius.1xs');
$radius-sm: tokens.token('lui.border.radius.sm');
$radius-md: tokens.token('lui.border.radius.md');
$radius-lg: tokens.token('lui.border.radius.lg');
$radius-circle: tokens.token('lui.border.radius.circle');
$radius-none: tokens.token('lui.border.radius.none');

$border-0: tokens.token('lui.border.width.0');
$border-1: tokens.token('lui.border.width.1');
$border-2: tokens.token('lui.border.width.2');

$brand-radius-1xs: tokens.token('lui.brand.border.radius.1xs');
$brand-radius-sm: tokens.token('lui.brand.border.radius.sm');
$brand-radius-md: tokens.token('lui.brand.border.radius.md');
$brand-radius-lg: tokens.token('lui.brand.border.radius.lg');
