@use './../../core/border/border.functions' as *;

$radius-values: 1xs, sm, md, lg, circle, none;

.radius- {
  @each $border-radius in $radius-values {
    &#{$border-radius} {
      border-radius: radius($border-radius);
    }
  }
}

.border- {
  @for $i from 0 through 2 {
    &#{$i} {
      border-width: width($i);
    }
  }
}
