@use './border.tokens' as *;

.radius-{
  &1xs {
    border-radius: $radius-1xs;
  }
  &sm {
    border-radius: $radius-sm;
  }
  &md {
    border-radius: $radius-md;
  }
  &lg {
    border-radius: $radius-lg;
  }
  &circle {
    border-radius: $radius-circle;
  }
  &none {
    border-radius: $radius-none;
  }
}

.border-{
  &0 {
    border-width: $border-0;
  }
  &1 {
    border-width: $border-1;
  }
  &2 {
    border-width: $border-2;
  }
}
