@use 'sass:map';
@use '../../dist/letsui.tokens.scss' as *;
@use '../../core/color/color.functions' as *;
@use '../../core/color/color.map' as *;

@each $group, $scales in map.get($color, primitive) {
  @each $step, $value in $scales {
    .#{"#{$group}"}-#{$step} {
      // color: $value;
      color: color($group, $step);
    }
  }
}

@each $category, $property in map.get($color, semantic, bg) {
  @each $role, $value in $property {
    .bg-#{#{$category}-#{$role}} {
      background-color: #{$value};
    }
  }
}
