@use './../../core/elevation/elevation.functions' as *;
@use './../../core/elevation/elevation.map' as *;
@use 'sass:map';

.elevation- {
  @each $layers, $value in $elevation {
    &#{$layers} {
      box-shadow: elevation($layers);
    }
  }
}
