@use './../utilities/functions' as *;
@use './../utilities/tokens.map' as *;

.elevation- {
  @each $layers, $value in $elevation {
    &#{$layers} {
      box-shadow: elevation($layers);
    }
  }
}
