@use './../../core/opacity/opacity.functions' as *;
@use './../../core/opacity/opacity.map' as *;

.opacity- {
  @each $state, $value in $opacity {
    &#{$state} {
      opacity: opacity($state);
    }
  }
}
