@use './../../core/opacity/opacity.functions' as *;

$opacity-states: hidden, disabled, visible;

.opacity- {
  @each $state in $opacity-states {
    &#{$state} {
      opacity: opacity($state);
    }
  }
}
