@use '../../dist/tokens.scss' as tokens;
@use 'tokens' as token;

// fixed
$space-0: tokens.token('lui.spacing.fixed.0');
$space-8: tokens.token('lui.spacing.fixed.8');
$space-16: tokens.token('lui.spacing.fixed.16');
$space-24: tokens.token('lui.spacing.fixed.24');
$space-32: tokens.token('lui.spacing.fixed.32');
$space-40: tokens.token('lui.spacing.fixed.40');

// fluid
$space-fluid-2: tokens.token('lui.spacing.fluid.2');
$space-fluid-4: tokens.token('lui.spacing.fluid.4');
$space-fluid-8: tokens.token('lui.spacing.fluid.8');
$space-fluid-12: tokens.token('lui.spacing.fluid.12');
$space-fluid-16: tokens.token('lui.spacing.fluid.16');
$space-fluid-20: tokens.token('lui.spacing.fluid.20');
$space-fluid-24: tokens.token('lui.spacing.fluid.24');
$space-fluid-32: tokens.token('lui.spacing.fluid.32');
$space-fluid-40: tokens.token('lui.spacing.fluid.40');
$space-fluid-48: tokens.token('lui.spacing.fluid.48');
$space-fluid-56: tokens.token('lui.spacing.fluid.56');
$space-fluid-64: tokens.token('lui.spacing.fluid.64');
$space-fluid-72: tokens.token('lui.spacing.fluid.72');
$space-fluid-80: tokens.token('lui.spacing.fluid.80');
