@use './spacing.tokens' as *;

:root {
  --space-0: #{$space-0};
  --space-8: #{$space-8};
  --space-16: #{$space-16};
  --space-24: #{$space-24};
  --space-32: #{$space-32};
  --space-40: #{$space-40};

  --space-fluid-2: #{$space-fluid-2};
  --space-fluid-4: #{$space-fluid-4};
  --space-fluid-8: #{$space-fluid-8};
  --space-fluid-12: #{$space-fluid-12};
  --space-fluid-16: #{$space-fluid-16};
  --space-fluid-20: #{$space-fluid-20};
  --space-fluid-24: #{$space-fluid-24};
  --space-fluid-32: #{$space-fluid-32};
  --space-fluid-40: #{$space-fluid-40};
  --space-fluid-48: #{$space-fluid-48};
  --space-fluid-56: #{$space-fluid-56};
  --space-fluid-64: #{$space-fluid-64};
  --space-fluid-72: #{$space-fluid-72};
  --space-fluid-80: #{$space-fluid-80};
}
