@use "sass:meta";
@use '../../core/spacing/spacing.functions' as *;

// .m-f-0  geral
// .mt-f-0 top
// .mb-f-0 bottom
// .ml-f-0 left
// .mr-f-0 right
// .mx-f-0 left right
// .my-f-0 top bottom

$spacing-fixed: (0, 8, 16, 24, 32, 40);
$spacing-fluid: (2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80);
$directions: (
  "": null, // all
  "t": top,
  "b": bottom,
  "l": left,
  "r": right,
  "x": (left, right),
  "y": (top, bottom)
);

@mixin box($class, $css-prop, $directions, $values, $fn) {
  @each $dir, $sides in $directions {
    @each $value in $values {
      .#{$class}-#{$dir}-#{$fn}-#{$value} {
        @if $dir == "" {
          #{$css-prop}: #{$fn}($value);
        } @else if meta.type-of($sides) == list {
          @each $side in $sides {
            #{$css-prop}-#{$side}: #{$fn}($value);
          }
        } @else {
          #{$css-prop}-#{$sides}: #{$fn}($value);
        }
      }
    }
  }
}

@mixin gap($values, $fn) {
  @each $value in $values {
    .gap-#{$fn}-#{$value} {
      gap: #{$fn}($value);
    }
  }
}

@include box(
  "m",
  margin,
  $directions,
  $spacing-fixed,
  fixed
);

@include box(
  "m",
  margin,
  $directions,
  $spacing-fluid,
  fluid
);

@include box(
  "p",
  padding,
  $directions,
  $spacing-fixed,
  fixed
);

@include box(
  "p",
  padding,
  $directions,
  $spacing-fluid,
  fluid
);

@include gap($spacing-fixed, fixed);
@include gap($spacing-fluid, fluid);


// .m- {
//   &fx- {
//     &0 {
//       margin: fixed(0);
//     }
//     &8 {
//       margin: fixed(8);
//     }
//     &16 {
//       margin: fixed(16);
//     }
//     &24 {
//       margin: fixed(24);
//     }
//     &32 {
//       margin: fixed(32);
//     }
//     &40 {
//       margin: fixed(40);
//     }
//   }
//   &fl- {
//     &2 {
//       margin: fluid(2);
//     }
//     &4 {
//       margin: fluid(4);
//     }
//     &8 {
//       margin: fluid(8);
//     }
//     &12 {
//       margin: fluid(12);
//     }
//     &16 {
//       margin: fluid(16);
//     }
//     &20 {
//       margin: fluid(20);
//     }
//     &24 {
//       margin: fluid(24);
//     }
//     &32 {
//       margin: fluid(32);
//     }
//     &40 {
//       margin: fluid(40);
//     }
//     &48 {
//       margin: fluid(48);
//     }
//     &56 {
//       margin: fluid(56);
//     }
//     &64 {
//       margin: fluid(64);
//     }
//     &72 {
//       margin: fluid(72);
//     }
//     &80 {
//       margin: fluid(80);
//     }
//   }
//   &t- {
//     &fx- {
//       &0 {
//         margin-top: fixed(0);
//       }
//       &8 {
//         margin-top: fixed(8);
//       }
//       &16 {
//         margin-top: fixed(16);
//       }
//       &24 {
//         margin-top: fixed(24);
//       }
//       &32 {
//         margin-top: fixed(32);
//       }
//       &40 {
//         margin-top: fixed(40);
//       }
//     }
//     &fl- {
//       &2 {
//         margin-top: fluid(2);
//       }
//       &4 {
//         margin-top: fluid(4);
//       }
//       &8 {
//         margin-top: fluid(8);
//       }
//       &12 {
//         margin-top: fluid(12);
//       }
//       &16 {
//         margin-top: fluid(16);
//       }
//       &20 {
//         margin-top: fluid(20);
//       }
//       &24 {
//         margin-top: fluid(24);
//       }
//       &32 {
//         margin-top: fluid(32);
//       }
//       &40 {
//         margin-top: fluid(40);
//       }
//       &48 {
//         margin-top: fluid(48);
//       }
//       &56 {
//         margin-top: fluid(56);
//       }
//       &64 {
//         margin-top: fluid(64);
//       }
//       &72 {
//         margin-top: fluid(72);
//       }
//       &80 {
//         margin-top: fluid(80);
//       }
//     }
//   }
//   &b- {
//     &fx- {
//       &0 {
//         margin-bottom: fixed(0);
//       }
//       &8 {
//         margin-bottom: fixed(8);
//       }
//       &16 {
//         margin-bottom: fixed(16);
//       }
//       &24 {
//         margin-bottom: fixed(24);
//       }
//       &32 {
//         margin-bottom: fixed(32);
//       }
//       &40 {
//         margin-bottom: fixed(40);
//       }
//     }
//     &fl- {
//       &2 {
//         margin-bottom: fluid(2);
//       }
//       &4 {
//         margin-bottom: fluid(4);
//       }
//       &8 {
//         margin-bottom: fluid(8);
//       }
//       &12 {
//         margin-bottom: fluid(12);
//       }
//       &16 {
//         margin-bottom: fluid(16);
//       }
//       &20 {
//         margin-bottom: fluid(20);
//       }
//       &24 {
//         margin-bottom: fluid(24);
//       }
//       &32 {
//         margin-bottom: fluid(32);
//       }
//       &40 {
//         margin-bottom: fluid(40);
//       }
//       &48 {
//         margin-bottom: fluid(48);
//       }
//       &56 {
//         margin-bottom: fluid(56);
//       }
//       &64 {
//         margin-bottom: fluid(64);
//       }
//       &72 {
//         margin-bottom: fluid(72);
//       }
//       &80 {
//         margin-bottom: fluid(80);
//       }
//     }
//   }
//   &l- {
//     &fx- {
//       &0 {
//         margin-left: fixed(0);
//       }
//       &8 {
//         margin-left: fixed(8);
//       }
//       &16 {
//         margin-left: fixed(16);
//       }
//       &24 {
//         margin-left: fixed(24);
//       }
//       &32 {
//         margin-left: fixed(32);
//       }
//       &40 {
//         margin-left: fixed(40);
//       }
//     }
//     &fl- {
//       &2 {
//         margin-left: fluid(2);
//       }
//       &4 {
//         margin-left: fluid(4);
//       }
//       &8 {
//         margin-left: fluid(8);
//       }
//       &12 {
//         margin-left: fluid(12);
//       }
//       &16 {
//         margin-left: fluid(16);
//       }
//       &20 {
//         margin-left: fluid(20);
//       }
//       &24 {
//         margin-left: fluid(24);
//       }
//       &32 {
//         margin-left: fluid(32);
//       }
//       &40 {
//         margin-left: fluid(40);
//       }
//       &48 {
//         margin-left: fluid(48);
//       }
//       &56 {
//         margin-left: fluid(56);
//       }
//       &64 {
//         margin-left: fluid(64);
//       }
//       &72 {
//         margin-left: fluid(72);
//       }
//       &80 {
//         margin-left: fluid(80);
//       }
//     }
//   }
//   &r- {
//     &fx- {
//       &0 {
//         margin-right: fixed(0);
//       }
//       &8 {
//         margin-right: fixed(8);
//       }
//       &16 {
//         margin-right: fixed(16);
//       }
//       &24 {
//         margin-right: fixed(24);
//       }
//       &32 {
//         margin-right: fixed(32);
//       }
//       &40 {
//         margin-right: fixed(40);
//       }
//     }
//     &fl- {
//       &2 {
//         margin-right: fluid(2);
//       }
//       &4 {
//         margin-right: fluid(4);
//       }
//       &8 {
//         margin-right: fluid(8);
//       }
//       &12 {
//         margin-right: fluid(12);
//       }
//       &16 {
//         margin-right: fluid(16);
//       }
//       &20 {
//         margin-right: fluid(20);
//       }
//       &24 {
//         margin-right: fluid(24);
//       }
//       &32 {
//         margin-right: fluid(32);
//       }
//       &40 {
//         margin-right: fluid(40);
//       }
//       &48 {
//         margin-right: fluid(48);
//       }
//       &56 {
//         margin-right: fluid(56);
//       }
//       &64 {
//         margin-right: fluid(64);
//       }
//       &72 {
//         margin-right: fluid(72);
//       }
//       &80 {
//         margin-right: fluid(80);
//       }
//     }
//   }
//   &x- {
//     &fx- {
//       &0 {
//         margin-left: fixed(0);
//         margin-right: fixed(0);
//       }
//       &8 {
//         margin-left: fixed(8);
//         margin-right: fixed(8);
//       }
//       &16 {
//         margin-left: fixed(16);
//         margin-right: fixed(16);
//       }
//       &24 {
//         margin-left: fixed(24);
//         margin-right: fixed(24);
//       }
//       &32 {
//         margin-left: fixed(32);
//         margin-right: fixed(32);
//       }
//       &40 {
//         margin-left: fixed(40);
//         margin-right: fixed(40);
//       }
//     }
//     &fl- {
//       &2 {
//         margin-left: fluid(2);
//         margin-right: fluid(2);
//       }
//       &4 {
//         margin-left: fluid(4);
//         margin-right: fluid(4);
//       }
//       &8 {
//         margin-left: fluid(8);
//         margin-right: fluid(8);
//       }
//       &12 {
//         margin-left: fluid(12);
//         margin-right: fluid(12);
//       }
//       &16 {
//         margin-left: fluid(16);
//         margin-right: fluid(16);
//       }
//       &20 {
//         margin-left: fluid(20);
//         margin-right: fluid(20);
//       }
//       &24 {
//         margin-left: fluid(24);
//         margin-right: fluid(24);
//       }
//       &32 {
//         margin-left: fluid(32);
//         margin-right: fluid(32);
//       }
//       &40 {
//         margin-left: fluid(40);
//         margin-right: fluid(40);
//       }
//       &48 {
//         margin-left: fluid(48);
//         margin-right: fluid(48);
//       }
//       &56 {
//         margin-left: fluid(56);
//         margin-right: fluid(56);
//       }
//       &64 {
//         margin-left: fluid(64);
//         margin-right: fluid(64);
//       }
//       &72 {
//         margin-left: fluid(72);
//         margin-right: fluid(72);
//       }
//       &80 {
//         margin-left: fluid(80);
//         margin-right: fluid(80);
//       }
//     }
//   }
//   &y- {
//     &fx- {
//       &0 {
//         margin-top: fixed(0);
//         margin-bottom: fixed(0);
//       }
//       &8 {
//         margin-top: fixed(8);
//         margin-bottom: fixed(8);
//       }
//       &16 {
//         margin-top: fixed(16);
//         margin-bottom: fixed(16);
//       }
//       &24 {
//         margin-top: fixed(24);
//         margin-bottom: fixed(24);
//       }
//       &32 {
//         margin-top: fixed(32);
//         margin-bottom: fixed(32);
//       }
//       &40 {
//         margin-top: fixed(40);
//         margin-bottom: fixed(40);
//       }
//     }
//     &fl- {
//       &2 {
//         margin-top: fluid(2);
//         margin-bottom: fluid(2);
//       }
//       &4 {
//         margin-top: fluid(4);
//         margin-bottom: fluid(4);
//       }
//       &8 {
//         margin-top: fluid(8);
//         margin-bottom: fluid(8);
//       }
//       &12 {
//         margin-top: fluid(12);
//         margin-bottom: fluid(12);
//       }
//       &16 {
//         margin-top: fluid(16);
//         margin-bottom: fluid(16);
//       }
//       &20 {
//         margin-top: fluid(20);
//         margin-bottom: fluid(20);
//       }
//       &24 {
//         margin-top: fluid(24);
//         margin-bottom: fluid(24);
//       }
//       &32 {
//         margin-top: fluid(32);
//         margin-bottom: fluid(32);
//       }
//       &40 {
//         margin-top: fluid(40);
//         margin-bottom: fluid(40);
//       }
//       &48 {
//         margin-top: fluid(48);
//         margin-bottom: fluid(48);
//       }
//       &56 {
//         margin-top: fluid(56);
//         margin-bottom: fluid(56);
//       }
//       &64 {
//         margin-top: fluid(64);
//         margin-bottom: fluid(64);
//       }
//       &72 {
//         margin-top: fluid(72);
//         margin-bottom: fluid(72);
//       }
//       &80 {
//         margin-top: fluid(80);
//         margin-bottom: fluid(80);
//       }
//     }
//   }
// }
