@use "sass:list";
@use 'sass:map';
@use '../../dist/letsui.tokens.scss' as *;
@use '../utilities/functions' as *;
@use '../utilities/tokens.map' as *;
@use '../utilities/mixins' as *;

@each $name, $values in map.get($typography, scales) {
  .#{$name} {
    @include font-scale($name);
  }
}

.text- {
  @each $weights, $value in map.get($typography, weight) {
    &#{$weights} {
      font-weight: weight($weights);
    }
  }
}
