@use '../../dist/tokens.scss' as tokens;
@use 'tokens' as token;

// family
$font-body: tokens.token('lui.brand.typography.font-family.body');
$font-heading: tokens.token('lui.brand.typography.font-family.heading');

// size
$text-1xs: tokens.token('lui.brand.typography.font-size.1xs');
$text-2xs: tokens.token('lui.brand.typography.font-size.2xs');
$text-3xs: tokens.token('lui.brand.typography.font-size.3xs');
$text-sm: tokens.token('lui.brand.typography.font-size.sm');
$text-md: tokens.token('lui.brand.typography.font-size.md');
$text-lg: tokens.token('lui.brand.typography.font-size.lg');
$text-1xl: tokens.token('lui.brand.typography.font-size.1xl');
$text-2xl: tokens.token('lui.brand.typography.font-size.2xl');
$text-3xl: tokens.token('lui.brand.typography.font-size.3xl');

// weight
$weight-regular: tokens.token('lui.typography.weight.regular');
$weight-medium: tokens.token('lui.typography.weight.medium');
$weight-semibold: tokens.token('lui.typography.weight.semibold');
$weight-bold: tokens.token('lui.typography.weight.bold');

// line-height
$leading-sm: tokens.token('lui.typography.line-height.sm');
$leading-md: tokens.token('lui.typography.line-height.md');
$leading-lg: tokens.token('lui.typography.line-height.lg');

// tracking
$tracking-default: tokens.token('lui.typography.tracking.default');
$tracking-tighter: tokens.token('lui.typography.tracking.tighter');
$tracking-tightest: tokens.token('lui.typography.tracking.tightest');
$tracking-wider: tokens.token('lui.typography.tracking.wider');
$tracking-widest: tokens.token('lui.typography.tracking.widest');

// case
$text-lowercase: tokens.token('lui.typography.case.lowercase');
$text-uppercase: tokens.token('lui.typography.case.uppercase');
$text-case-none: tokens.token('lui.typography.case.none');

// decoration
$text-underline: tokens.token('lui.typography.decoration.underline');
$text-line-through: tokens.token('lui.typography.decoration.line-through');
$text-decoration-none: tokens.token('lui.typography.decoration.none');
