@use "sass:list";
@use '../../dist/letsui.tokens.scss' as *;
@use '../utilities/functions' as *;

$type-scales: (
  display: (
    heading, 3xl, regular, none
  ),
  title: (
    heading, 2xl, bold, none
  ),
  headline: (
    heading, 1xl, semibold, none
  ),
  block-title: (
    heading, md, medium, none
  ),
  subtitle: (
    heading, lg, regular, none
  ),
  subheadline: (
    heading, sm, regular, none
  ),
  overtitle: (
    heading, 3xs, medium, uppercase
  ),
  body-lg: (
    body, 1xs, regular, none
  ),
  body-md: (
    body, 2xs, regular, none
  ),
  body-sm: (
    body, 3xs, regular, none
  )
);

$font-weights: regular, medium, semibold, bold;

@mixin font-scales($family, $size, $weight, $case) {
  font: weight($weight) size($size)/line-height($family) font($family);
  text-transform: case($case);
}

@each $name, $values in $type-scales {
  .#{$name} {
    @include font-scales(list.nth($values, 1), list.nth($values, 2), list.nth($values, 3), list.nth($values, 4));
  }
}

.text- {
  @each $weights in $font-weights {
    &#{$weights} {
      font-weight: weight($weights);
    }
  }
}
