:root {
  --lui-typography-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --lui-typography-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Mobile */
@media only screen and (max-width: 1279px) {
  :root {
      --lui-brand-typography-size-base: 14px;
      --lui-typography-scale-size-base: 1.125;
  }

  html, body {
      font-size: var(--lui-brand-typography-size-base) !important;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  :root {
      --lui-brand-typography-size-base: 16px;
      --lui-typography-scale-size-base: 1.2;
  }

  html, body {
      font-size: var(--lui-brand-typography-size-base) !important;
  }
}

.display, .title, .headline, .subtitle,
.block-title, .subheadline, .overtitle,
h1, h2, h3, h4, h5, h6, label {
  font-family: var(--lui-typography-family-heading) !important;
}

body, p, input, select, button,
.body-lg, .body-md, .body-sm {
  font-family: var(--lui-typography-family-body) !important;
}

.display, .title, .headline, .subtitle, .block-title, .subheadline, .overtitle {
  line-height: var(--lui-typography-line-height-md) !important;
}

p, input, select, button, label, .body-lg, .body-md, .body-sm {
  line-height: var(--lui-typography-line-height-lg) !important;
}

.display {
  font-weight: var(--lui-typography-weight-light) !important;
}

.txt-bold {
  font-weight: var(--lui-typography-weight-bold) !important;
}

.title, .headline, .overtitle {
  font-weight: var(--lui-typography-weight-semibold) !important;
}

.block-title {
  font-weight: var(--lui-typography-weight-medium) !important;
}

.display {
  letter-spacing: var(--lui-typography-tracking-tightest) !important;
}

.title {
  letter-spacing: var(--lui-typography-tracking-tighter) !important;
}

.overtitle {
  letter-spacing: var(--lui-typography-tracking-wider) !important;
  text-transform: var(--lui-typography-case-uppercase) !important;
}

.txt-italic {
  font-style: var(--lui-typography-style-italic)
}

.txt-underline {
  text-decoration: var(--lui-typography-decoration-underline)
}

.txt-line-through {
  text-decoration: var(--lui-typography-decoration-line-through)
}

.txt-uppercase {
  text-transform: var(--lui-typography-case-uppercase)
}