.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    padding: var(--lui-spacing-0);
    margin: var(--lui-spacing-0);
}

.breadcrumb li a { text-decoration: none; }

.breadcrumb li::after {
    content: "/";
    margin: var(--lui-spacing-0) var(--lui-spacing-8);
    color: var(--lui-color-neutral-light-content-text-soft);
}

.breadcrumb li:last-child::after {
    content: ""; /* Remove a barra do último item */
}

.breadcrumb li:last-child {
    color: var(--lui-color-neutral-light-content-text-soft);
    cursor: default;
}