@use 'sass:map';
@use '../../dist/letsui.tokens.scss' as *;

$color: (
  primitive: (
    brand: (
      1: token('lui.brand.color.1'),
      2: token('lui.brand.color.2'),
      3: token('lui.brand.color.3'),
      4: token('lui.brand.color.4'),
      5: token('lui.brand.color.5'),
      6: token('lui.brand.color.6'),
      7: token('lui.brand.color.7'),
      8: token('lui.brand.color.8'),
      9: token('lui.brand.color.9')
    ),
    blue: (
      1: token('lui.color.blue.1'),
      2: token('lui.color.blue.2'),
      3: token('lui.color.blue.3'),
      4: token('lui.color.blue.4'),
      5: token('lui.color.blue.5'),
      6: token('lui.color.blue.6'),
      7: token('lui.color.blue.7'),
      8: token('lui.color.blue.8'),
      9: token('lui.color.blue.9')
    ),
    gray: (
      1: token('lui.color.gray.1'),
      2: token('lui.color.gray.2'),
      3: token('lui.color.gray.3'),
      4: token('lui.color.gray.4'),
      5: token('lui.color.gray.5'),
      6: token('lui.color.gray.6'),
      7: token('lui.color.gray.7'),
      8: token('lui.color.gray.8'),
      9: token('lui.color.gray.9')
    ),
    green: (
      1: token('lui.color.green.1'),
      2: token('lui.color.green.2'),
      3: token('lui.color.green.3'),
      4: token('lui.color.green.4'),
      5: token('lui.color.green.5'),
      6: token('lui.color.green.6'),
      7: token('lui.color.green.7'),
      8: token('lui.color.green.8'),
      9: token('lui.color.green.9')
    ),
    orange: (
      1: token('lui.color.orange.1'),
      2: token('lui.color.orange.2'),
      3: token('lui.color.orange.3'),
      4: token('lui.color.orange.4'),
      5: token('lui.color.orange.5'),
      6: token('lui.color.orange.6'),
      7: token('lui.color.orange.7'),
      8: token('lui.color.orange.8'),
      9: token('lui.color.orange.9')
    ),
    red: (
      1: token('lui.color.red.1'),
      2: token('lui.color.red.2'),
      3: token('lui.color.red.3'),
      4: token('lui.color.red.4'),
      5: token('lui.color.red.5'),
      6: token('lui.color.red.6'),
      7: token('lui.color.red.7'),
      8: token('lui.color.red.8'),
      9: token('lui.color.red.9')
    ),
    violet: (
      1: token('lui.color.violet.1'),
      2: token('lui.color.violet.2'),
      3: token('lui.color.violet.3'),
      4: token('lui.color.violet.4'),
      5: token('lui.color.violet.5'),
      6: token('lui.color.violet.6'),
      7: token('lui.color.violet.7'),
      8: token('lui.color.violet.8'),
      9: token('lui.color.violet.9')
    )
  ),
  semantic: (
    bg: (
      surface: (
        accent: token('lui.color.accent.background.surface'),
        info: token('lui.color.info.background.surface'),
        danger: token('lui.color.danger.background.surface'),
        success: token('lui.color.success.background.surface'),
        caution: token('lui.color.caution.background.surface'),
        neutral: token('lui.color.neutral.background.surface')
      ),
      container: (
        accent: token('lui.color.accent.background.container'),
        info: token('lui.color.info.background.container'),
        danger: token('lui.color.danger.background.container'),
        success: token('lui.color.success.background.container'),
        caution: token('lui.color.caution.background.container'),
        neutral: token('lui.color.neutral.background.container')
      ),
    ),

    border: (
      divisor: token('lui.color.neutral.border.divisor'),
      stroke: (
        neutral: token('lui.color.neutral.border.stroke'),
        accent: token('lui.color.accent.border.stroke'),
        info: token('lui.color.info.border.stroke'),
        danger: token('lui.color.danger.border.stroke'),
        success: token('lui.color.success.border.stroke'),
        caution: token('lui.color.caution.border.stroke')
      )
    ),

    text: (
        heading: token('lui.color.neutral.text.heading'),
        body: token('lui.color.neutral.text.body'),
        inverse: token('lui.color.neutral.text.inverse'),
        error: token('lui.color.danger.text.error'),
        link: token('lui.color.link.default'),
        link-visited: token('lui.color.link.visited')
    ),

    icon: (
      accent: token('lui.color.accent.icon.default'),
      info: token('lui.color.info.icon.default'),
      danger: token('lui.color.danger.icon.default'),
      success: token('lui.color.success.icon.default'),
      caution: token('lui.color.caution.icon.default'),
      neutral: token('lui.color.neutral.icon.default'),
      inverse: token('lui.color.neutral.icon.inverse')
    ),
  )
);
