@use "sass:map";
@use "./color.map" as color;

// color($category, $scale)
//  $category = brand | blue | green | gray | green | orange | red | violet
//  $scale    = 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9
// 
// bg($category, $variant)
//  $category = surface | container
//  $variant  = accent | caution | danger | info | success | neutral | overlay
//
// border($variant)
//  $category = divisor
//
// stroke($variant)
//  $category = neutral | accent | caution | danger | info | success
//
// border($variant)
//  $category = heading | body | inverse | error
//
// icon($variant)
//  $category = accent | caution | danger | info | success | neutral | inverse

@function color($category, $scale) {
  $value: map.get(color.$color, primitive, $category, $scale);

  @if $value == null {
    @error 'Invalid color: "#{$category}" | "#{$scale}"';
  }

  @return $value;
}

@function bg($category, $variant) {
  $value: map.get(color.$color, semantic, bg, $category, $variant);

  @if $value == null {
    @error 'Invalid background color: "#{$category}" | "#{$variant}"';
  }

  @return $value;
}

@function border($variant) {
  $value: map.get(color.$color, semantic, border, $variant);

  @if $value == null {
    @error 'Invalid border color: "#{$variant}"';
  }

  @return $value;
}

@function stroke($variant) {
  $value: map.get(color.$color, semantic, border, stroke, $variant);

  @if $value == null {
    @error 'Invalid border color: "#{$variant}"';
  }

  @return $value;
}

@function text($variant) {
  $value: map.get(color.$color, semantic, text, $variant);

  @if $value == null {
    @error 'Invalid text color: "#{$variant}"';
  }

  @return $value;
}

@function icon($variant) {
  $value: map.get(color.$color, semantic, icon, $variant);

  @if $value == null {
    @error 'Invalid icon color: "#{$variant}"';
  }

  @return $value;
}
