@use '../../core/color/color.functions' as *;
@use '../../core/spacing/spacing.functions' as *;

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
  padding: fixed(0);
  margin: fixed(0);

  li {
    a {
      text-decoration: none;
    }

    &::after {
      content: "/";
      margin: fixed(0) fixed(8);
      color: text(body);
    }

    &:last-child {
      &::after {
        content: "";
      }

      color: text(body);
      cursor: default;
    }
  }
}
