@use '../foundations/_border' as *;
@use '../foundations/_color' as *;
@use '../foundations/_spacing' as *;
@use '../foundations/_typography' as *;
@use '../foundations/_opacity' as *;

button {
	&.btn {
		position: relative;
		overflow: hidden;
		font-weight: #{$weight-regular};
		border: #{$space-0};
		outline: #{$space-0};
		background-color: transparent;
		transition: all 0.2s ease-in-out;
		z-index: 0;
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: inherit;
			z-index: -1;
			transition: filter 0.2s ease-in-out;
		}
		&:hover {
			&::before {
				filter: brightness(0.76);
			}
		}
		&:active {
			outline: #{$border-2} solid transparent;
			outline-offset: #{$border-2};
			&::before {
				filter: brightness(0.6);
			}
			&:not(:disabled) {
				transform: scale(0.98);
			}
		}
		&:disabled {
			cursor: not-allowed;
			opacity: #{$opacity-disabled};
			&::before {
				background-color: #{$accent-bg-container};
				filter: none;
			}
		}
	}
	&.btn-lg {
		padding: #{$space-16};
		// font: $typography-scale-body-lg;
		border-radius: #{$radius-lg};
	}
	&.btn-md {
		padding: #{$space-8};
		// font: $typography-scale-body-md;
		border-radius: #{$radius-md};
	}
	&.btn-primary {
		color: #fff;
		&::before {
			background-color: #{$accent-bg-container};
		}
		&:focus {
			box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
		}
	}
	&.btn-secondary {
		color: #{$neutral-dark-text-body};
		&::before {
			background-color: #{$neutral-light-bg-container};
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
		}
	}
	&.btn-tertiary {
		color: #{$neutral-light-text-body};
		&::before {
			content: '';
			position: absolute;
			background-color: #{$neutral-dark-bg-surface};
			inset: 0;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: -1;
		}
		&:hover {
			&::before {
				opacity: 0.24;
			}
		}
		&:active {
			&::before {
				opacity: 0.4;
			}
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
		}
	}
	&.btn-danger {
		color: #{$neutral-light-text-body};
		&::before {
			background-color: #{$danger-bg-container};
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(238, 67, 67, 0.3);
		}
	}
	&.btn-success {
		color: #{$neutral-light-text-body};
		&::before {
			background-color: #{$success-bg-container};
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(87, 238, 67, 0.3);
		}
	}
}
button.btn-primary, 
button.btn-secondary, 
button.btn-danger, 
button.btn-success {
	background-color: transparent;
}
