@use 'sass:map';
@use '../utilities/functions' as *;
@use '../utilities/tokens.map' as *;
@use '../utilities/mixins' as *;

.checkbox,
input[type="checkbox"] {
  display: flex;
  align-items: center;
  gap: fixed(8);
  cursor: pointer;
  user-select: none;
  margin: fixed(0);
  padding: fixed(0);
}

.checkbox {
  &.check-size-lg input[type="checkbox"] {
    width: fixed(24);
    height: fixed(24);
  }

  &.check-size-md input[type="checkbox"] {
    width: fixed(16);
    height: fixed(16);
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    background-color: bg(surface, neutral);
    border: width(1) solid border(divisor);
    border-radius: radius(1xs);
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;

    &:checked {
      background-color: bg(container, accent);
      border-color: bg(container, accent);

      &::after {
        font-family: 'letsicons' !important;
        content: '\e902';
        color: bg(surface, neutral);
        font-weight: weight(bold);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      border-color: bg(container, accent);
    }

    &:focus {
      border: width(1) solid bg(container, accent);
      box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
      outline: none;
    }

    @include disabled;
  }
}
