@use "sass:list";
@use 'sass:map';
@use '../utilities/functions' as *;
@use '../utilities/tokens.map' as *;
@use '../utilities/mixins' as *;

.form-group {
  @include flex(column, stretch, flex-start, fixed(8), nowrap);
}

label {
  color: text(heading);
}

$types: color, email, number, password, search, tel, text, time, url;
$selectors: ();
$size: (
  lg: (
    padding: fluid(12),
    radius: radius(sm),
    scale: body-lg
  ),
  md: (
    padding: fixed(8),
    radius: radius(1xs),
    scale: body-md
  )
);

@each $type in $types {
  $selectors: list.append($selectors, 'input[type="#{$type}"]', comma);
}

#{$selectors} {
  color: text(body);
  background-color: bg(surface, neutral);
  border: width(1) solid border(divisor);
  transition: all 0.2s ease-in-out;
  line-height: 1;
  box-sizing: border-box;

  &:hover {
    border: width(1) solid stroke(neutral);
  }

  &:focus {
    border: width(1) solid bg(container, accent);
    box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
    outline: none;
  }
}

@each $key, $props in $size {
  input.form-size-#{$key},
  select.form-size-#{$key} {
    border-radius: map.get($props, radius);
    padding: map.get($props, padding);
  }

  input.form-size-#{$key},
  select.form-size-#{$key},
  label.form-size-#{$key},
  .check-size-#{$key},
  .form-checkbox.check-size-#{$key} input:checked::after {
    @include font-scale(map.get($props, scale));
  }
}
