@use 'sass:map';
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;
@use '../utilities/tokens.map' as *;

%flex-row { display: flex; }

@mixin nav-surface($bg: bg(surface, neutral), $radius: radius(md)) {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background-color: $bg;
    border-radius: $radius;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
  }

  &:hover::before { opacity: 0.24; }
  &:active::before { opacity: 0.4; }
}

.header {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
  padding: fixed(16);
  background-color: bg(surface, neutral);
  border-bottom: width(1) solid stroke(neutral);
  position: sticky;
  top: fixed(0);
  grid-area: header;
}

.desktop-nav ul {
  @extend %flex-row;

  li {
    @extend %flex-row;
  }
}


.desktop-nav ul, .header-icons {
  gap: fixed(8);
}

.desktop-nav a,
.desktop-nav li.nav-active {
  @include nav-surface();
  color: text(body);
  background-color: transparent;
  padding: fixed(8);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

.nav-active {
  cursor: default;
  border-bottom: width(1) solid stroke(neutral);
}

/* Excluir quando incluir ícone List */

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #333;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #333;
    left: 0;
  }

  &::before { top: -6px; }
  &::after  { bottom: -6px; }
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: bg(surface, neutral);
  overflow-y: auto;

  /* z-index: 1000; */
}

#mobile-menu {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0;
  transform: translateY(-350px);

  &:popover-open {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    opacity: 1;
    transform: translateY(72px);
  }
}

.mobile-menu-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mobile-nav {
  padding: fixed(0) fluid(4);
}

.menu-items {
  li { margin-bottom: 0.5rem; }

  a {
    display: block;
    @include nav-surface();
    background-color: transparent;
    padding: fluid(12);
    transition: all 0.1s ease-in-out;
    color: text(body);
    text-decoration: none;
  }
}

/* Media Queries */
@media (max-width: map.get($breakpoint, sm)) {
  .desktop-nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
