@use '../utilities/functions' as *;

.icon-button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: radius(md);
  place-self: start;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  z-index: 0;

  &.lg {
    max-width: fixed(40) !important;
    max-height: fixed(40) !important;
    padding: fixed(8) !important;
    > i {
      font-size: 1.5rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: opacity(hidden);
    transition: opacity 0.2s;
    z-index: -1;
  }

  &.light {
    &::before {
      background-color: bg(surface, neutral);
    }

    i::before {
      color: icon(neutral);
    }
  }

  &:hover::before {
    opacity: 0.24;
  }

  &:active:not(:disabled)::before {
    opacity: 0.4;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }

  &:active:not(:disabled)::before, &:focus {
    border-radius: radius(lg);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: opacity(disabled);

    &::before {
      opacity: opacity(hidden);
      filter: none;
    }
  }
}
