@use '../foundations/_color.tokens' as *;

a.link {
  color: #{$accent-link-default};
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(76%);
  }

  &:active {
    filter: brightness(52%);
  }
}
