/*
========================

Checkbox

========================
*/
.form-check input[type="checkbox"] {
    display: none;
}

/* Estilo do checkbox personalizado */
.form-check {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-check span {
    display: inline-block;
    position: relative;
    border: var(--lui-border-width-1) solid var(--lui-color-neutral-light-layer-border-divisor);
    border-radius: var(--lui-border-radius-4);
    background-color: var(--lui-color-neutral-light-layer-bg-surface);
    margin-right: var(--lui-spacing-8);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form-check span:hover {
    border: var(--lui-border-width-1) solid var(--lui-color-neutral-light-layer-border-stroke);
}

.form-check span:active,
.form-check span:focus {
    border: var(--lui-border-width-1) solid var(--lui-color-brand-accent-layer-bg-container);
    box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
    outline: none;
}

/* Estilo quando marcado */
.form-check input[type="checkbox"]:checked + span {
    background-color: var(--lui-color-brand-accent-layer-bg-container);
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-check input[type="checkbox"]:checked + span:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24);
}

.form-check input[type="checkbox"]:checked + span:active {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

/* Símbolo de check ao marcar */
.form-check input[type="checkbox"]:checked + span::after {
    font-family: 'letsicons';
    content: '\e902';
    color: var(--lui-color-neutral-light-layer-bg-surface);
    font-weight: var(--lui-typography-weight-bold);
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check-size-lg span {
    width: var(--lui-spacing-20);
    height: var(--lui-spacing-20);
}

.check-size-md span {
    width: var(--lui-spacing-16);
    height: var(--lui-spacing-16);
}