button.icon-button {
    position: relative;
    overflow: hidden;
    display: flex;
    width: var(--lui-spacing-40);
    height: var(--lui-spacing-40);
    padding: var(--lui-spacing-8);
    background: transparent;
    border: none;
    border-radius: var(--lui-border-radius-12);
    place-self: start;
    transition: all 0.2s ease-in-out;
    z-index: 0;
}

/* Fundo visual com ::before */
button.icon-button::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
}

/* Variants */
button.icon-button.btn-light::before {
    background-color: var(--lui-color-neutral-dark-layer-bg-surface);
}

button.icon-button.btn-light i::before {
    color: var(--lui-color-neutral-dark-layer-bg-surface);
}

button.icon-button.btn-dark::before {
    background-color: var(--lui-color-neutral-light-layer-bg-surface);
}

button.icon-button.btn-dark i::before {
    color: var(--lui-color-neutral-light-layer-bg-surface);
}

/* States */
button.icon-button:hover::before {
    opacity: 0.24;
}
  
button.icon-button:active:not(:disabled)::before {
    opacity: 0.4;
}

button.icon-button:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

button.icon-button:active:not(:disabled)::before,
button.icon-button:focus {
    border-radius: var(--lui-border-radius-24);
}

button.icon-button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

button.icon-button:disabled::before {
    opacity: 0;
    filter: none;
}