.tag-md,
.tag-lg {
    width: fit-content;
    border-radius: var(--lui-border-radius-circle);
}

.tag-md {
    padding: var(--lui-spacing-2) var(--lui-spacing-8);
    font-size: var(--lui-typography-scale-size-body-md);
}

.tag-lg {
    padding: var(--lui-spacing-4) var(--lui-spacing-8);
    font-size: var(--lui-typography-scale-size-body-lg);
}

.tag-caution {
    background: var(--lui-color-feedback-caution-layer-bg-surface);
    border: var(--lui-border-width-1) solid var(--lui-color-feedback-caution-layer-border-enabled);
    color: var(--lui-color-feedback-caution-content-text-body);
}