@use '../../tokens/variables' as *;

.alert {
  gap: $lui-spacing-fixed-16;
  padding: $lui-spacing-fixed-16;
  border-radius: $lui-border-radius-16;
  border-width: $lui-border-width-2;
  border-style: solid;
  background-color: $lui-color-neutral-light-background-surface;

  &.bc-caution {
    border-color: $lui-color-caution-border-stroke;
  }

  &.bc-caution i.alert-icon {
    color: $lui-color-caution-icon-hard;
  }

  &.bc-danger {
    border-color: $lui-color-danger-border-stroke;
  }

  &.bc-danger i.alert-icon {
    color: $lui-color-danger-icon-hard;
  }

  &.bc-info {
    border-color: $lui-color-info-border-stroke;
  }

  &.bc-info i.alert-icon {
    color: $lui-color-info-icon-hard;
  }

  &.bc-success {
    border-color: $lui-color-success-border-stroke;
  }

  &.bc-success i.alert-icon {
    color: $lui-color-success-icon-hard;
  }
}

.alert-content, .alert-actions {
  display: flex;
}

.alert-content {
  gap: $lui-spacing-fixed-16;
}

.alert-text {
  margin-bottom: $lui-spacing-fixed-20;
  width: 100%;

  p {
    &:first-child {
      margin-bottom: $lui-spacing-fixed-2;
    }

    &:first-of-type {
      font-weight: $lui-typography-weight-bold !important;
    }
  }
}

.alert-actions {
  justify-content: flex-end;

  button:first-child {
    margin-right: $lui-spacing-fixed-16;
  }
}
