@use '../../tokens/variables' as *;

button {
	&.btn {
		position: relative;
		overflow: hidden;
		font-weight: $lui-typography-weight-regular;
		border: $lui-spacing-fixed-0;
		outline: $lui-spacing-fixed-0;
		background-color: transparent;
		transition: all 0.2s ease-in-out;
		z-index: 0;
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: inherit;
			z-index: -1;
			transition: filter 0.2s ease-in-out;
		}
		&:hover {
			&::before {
				filter: brightness(0.76);
			}
		}
		&:active {
			outline: $lui-border-width-2 solid transparent;
			outline-offset: $lui-border-width-2;
			&::before {
				filter: brightness(0.6);
			}
			&:not(:disabled) {
				transform: scale(0.98);
			}
		}
		&:disabled {
			cursor: not-allowed;
			opacity: 0.4;
			&::before {
				background-color: $lui-color-brand-accent-background-container;
				filter: none;
			}
		}
	}
	&.btn-lg {
		padding: $lui-spacing-fixed-12;
		font: $lui-typography-scale-body-lg;
		border-radius: $lui-border-radius-12;
	}
	&.btn-md {
		padding: $lui-spacing-fixed-8;
		font: $lui-typography-scale-body-md;
		border-radius: $lui-border-radius-8;
	}
	&.btn-primary {
		color: $lui-color-button-primary-text;
		&::before {
			background-color: $lui-color-button-primary-background;
		}
		&:focus {
			box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
		}
	}
	&.btn-secondary {
		color: $lui-color-button-secondary-text;
		&::before {
			background-color: $lui-color-button-secondary-background;
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
		}
	}
	&.btn-tertiary {
		color: $lui-color-button-tertiary-text;
		&::before {
			content: '';
			position: absolute;
			background-color: $lui-color-neutral-dark-background-surface;
			inset: 0;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: -1;
		}
		&:hover {
			&::before {
				opacity: 0.24;
			}
		}
		&:active {
			&::before {
				opacity: 0.4;
			}
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
		}
	}
	&.btn-danger {
		color: $lui-color-button-danger-text;
		&::before {
			background-color: $lui-color-button-danger-background;
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(238, 67, 67, 0.3);
		}
	}
	&.btn-success {
		color: $lui-color-button-tertiary-text;
		&::before {
			background-color: $lui-color-button-success-background;
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(87, 238, 67, 0.3);
		}
	}
}
button.btn-primary, 
button.btn-secondary, 
button.btn-danger, 
button.btn-success {
	background-color: transparent;
}
