@use '../../tokens/variables' as *;

.card {
    background-color: $lui-color-neutral-light-background-surface;
    border-radius: $lui-border-radius-16;
    overflow: hidden;
    .card-cover {
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
    .card-body {
        padding: $lui-spacing-fixed-24;
        display: flex;
        flex-direction: column;
        gap: $lui-spacing-fixed-8;
        .card-actions {
            margin-top: $lui-spacing-fixed-16;
            display: flex;
            flex-direction: row-reverse;
            gap: $lui-spacing-fixed-16;
        }
    }
}

.card-cover, .card-cover img {
    max-height: 240px;
}

.card-border {
    border: $lui-border-width-1 solid $lui-color-neutral-light-border-divisor;
}

.card-elevation {
    box-shadow: $lui-elevation-base
}

.card-interaction {
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: $lui-elevation-hovered
    }
}