@use '../../tokens/variables' as *;

.form-check {
  input[type="checkbox"] {
    display: none;
  }

  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    display: inline-block;
    position: relative;
    border: $lui-border-width-1 solid $lui-color-neutral-light-border-divisor;
    border-radius: $lui-border-radius-4;
    background-color: $lui-color-neutral-light-background-surface;
    margin-right: $lui-spacing-fixed-8;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;

    &:hover {
      border: $lui-border-width-1 solid $lui-color-neutral-light-border-stroke;
    }

    &:active, &:focus {
      border: $lui-border-width-1 solid $lui-color-brand-accent-background-container;
      box-shadow: 0 0 0 3px lch(45.27% 113.1 310.44 / 0.32);
      outline: none;
    }
  }

  input[type="checkbox"]:checked + span {
    background-color: $lui-color-brand-accent-background-container;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.24);
    }

    &:active {
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    }

    &::after {
      font-family: 'letsicons' !important;
      content: '\e902';
      color: $lui-color-neutral-light-background-surface;
      font-weight: $lui-typography-weight-bold;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/* Estilo do checkbox personalizado */

/* Estilo quando marcado */

/* Símbolo de check ao marcar */

.check-size-lg span {
  width: $lui-spacing-fixed-20;
  height: $lui-spacing-fixed-20;
}

.check-size-md span {
  width: $lui-spacing-fixed-16;
  height: $lui-spacing-fixed-16;
}
