@use '../../tokens/variables' as *;

button.icon-button {
  position: relative;
  overflow: hidden;
  display: flex;
  width: $lui-spacing-fixed-40;
  height: $lui-spacing-fixed-40;
  padding: $lui-spacing-fixed-8;
  background: transparent;
  border: none;
  border-radius: $lui-border-radius-12;
  place-self: start;
  transition: all 0.2s ease-in-out;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
  }

  &.btn-light {
    &::before {
      background-color: $lui-color-neutral-dark-background-surface;
    }

    i::before {
      color: $lui-color-neutral-dark-background-surface;
    }
  }

  &.btn-dark {
    &::before {
      background-color: $lui-color-neutral-light-background-surface;
    }

    i::before {
      color: $lui-color-neutral-light-background-surface;
    }
  }

  &:hover::before {
    opacity: 0.24;
  }

  &:active:not(:disabled)::before {
    opacity: 0.4;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }

  &:active:not(:disabled)::before, &:focus {
    border-radius: $lui-border-radius-16;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;

    &::before {
      opacity: 0;
      filter: none;
    }
  }
}
