@use '../../tokens/variables' as *;

.navbar {
  top: 0;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  height: 100vh;
  line-height: 1.5rem;
  overflow-y: auto;
  border-right: 1px solid #eee;

  img {
    padding: $lui-spacing-fixed-16 $lui-spacing-fixed-16 $lui-spacing-fixed-0 $lui-spacing-fixed-16;
  }
}

@media (max-width: 1279px) {
  .navbar {
    display: none;
  }
}

.nav-section {
  padding: $lui-spacing-fixed-16;

  h6 {
    margin-bottom: $lui-spacing-fixed-8;
  }

  ul {
    gap: $lui-spacing-fixed-24;

    li {
      display: flex;
    }
  }

  a {
    position: relative;
    background-color: transparent;
    padding: $lui-spacing-fixed-12 $lui-spacing-fixed-16;
    border-radius: $lui-border-radius-8;
    transition: all 0.1s ease-in-out;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      background-color: $lui-color-neutral-dark-background-surface;
      border-radius: $lui-border-radius-8;
      inset: 0;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: -1;
    }

    &:hover::before {
      opacity: 0.24;
    }

    &:active::before {
      opacity: 0.4;
    }
  }
}

.menu-active {
  border-radius: $lui-border-radius-8;
  padding: $lui-spacing-fixed-12 $lui-spacing-fixed-16;
  background-color: #8733ff;
  color: $lui-color-neutral-light-text-body;
  cursor: default;
}

.navbar {
  h6 {
    color: $lui-color-neutral-dark-text-heading;
  }

  a {
    color: $lui-color-neutral-dark-text-body;
    text-decoration: none;
  }
}
