@use '../../tokens/variables' as *;

.tag-sm,
.tag-md,
.tag-lg {
    width: fit-content;
    line-height: $lui-typography-line-height-lg;
}

.tag-circle {
    border-radius: $lui-border-radius-circle !important;
}

.tag-sm {
    padding: $lui-spacing-fixed-2 $lui-spacing-fixed-8;
    font: $lui-typography-scale-body-sm;
    border-radius: $lui-border-radius-8;
}

.tag-md {
    padding: $lui-spacing-fixed-4 $lui-spacing-fixed-8;
    font: $lui-typography-scale-body-md;
    border-radius: $lui-border-radius-12;
}

.tag-lg {
    padding: $lui-spacing-fixed-8 $lui-spacing-fixed-12;
    font: $lui-typography-scale-body-lg;
    border-radius: $lui-border-radius-16;
}

.tag-primary {
    color: $lui-color-brand-accent-text-body;
    background: $lui-color-brand-accent-background-surface;
}

.tag-caution {
    color: $lui-color-caution-text-body;
    background: $lui-color-caution-background-surface;
}

.tag-danger {
    color: $lui-color-danger-text-body;
    background: $lui-color-danger-background-surface;
}

.tag-success {
    color: $lui-color-success-text-body;
    background: $lui-color-success-background-surface;
}

.tag-neutral {
    color: $lui-color-neutral-dark-text-body;
    background: $lui-color-neutral-light-background-container;
}