@import "color-basic.css";

:root {
    /* Background */
    --mv-color-bg-main-accent-default: var(--mv-color-main-accent-hard);
    --mv-color-bg-main-accent-hovered: var(--mv-color-main-accent-dark);
    --mv-color-bg-main-accent-pressed: var(--mv-color-main-accent-darker);
    --mv-color-bg-main-accent-focused: var(--mv-color-main-accent-darker);

    --mv-color-bg-main-support-default: var(--mv-color-support-accent-hard);
    --mv-color-bg-main-support-hovered: var(--mv-color-support-accent-dark);
    --mv-color-bg-main-support-pressed: var(--mv-color-support-accent-darker);
    --mv-color-bg-main-support-focused: var(--mv-color-support-accent-darker);

    --mv-color-bg-neutral-light: var(--mv-color-gray-ethereal);
    --mv-color-bg-neutral-dark: var(--mv-color-gray-deep);

    /* Border color */
    --mv-color-border-main-accent-default: var(--mv-color-main-accent-hard);
    --mv-color-border-main-accent-hovered: var(--mv-color-main-accent-dark);
    --mv-color-border-main-accent-pressed: var(--mv-color-main-accent-darker);
    --mv-color-border-main-accent-focused: var(--mv-color-main-accent-darker);

    --mv-color-border-main-support-default: var(--mv-color-support-accent-hard);
    --mv-color-border-main-support-hovered: var(--mv-color-support-accent-dark);
    --mv-color-border-main-support-pressed: var(--mv-color-support-accent-darker);
    --mv-color-border-main-support-focused: var(--mv-color-support-accent-darker);

    /* Text */
    --mv-color-text-light: var(--mv-color-gray-lightest);
    --mv-color-text-dark: var(--mv-color-gray-darkest);
}