.bw-24 { border-width: var(--lui-border-width-24); }
.bw-16 { border-width: var(--lui-border-width-16); }
.bw-12 { border-width: var(--lui-border-width-12); }
.bw-8 { border-width: var(--lui-border-width-8); }
.bw-4 { border-width: var(--lui-border-width-4); }
.bw-2 { border-width: var(--lui-border-width-2); }
.bw-1 { border-width: var(--lui-border-width-1); }
.bw-0 { border-width: var(--lui-border-width-0); }

.br-circle { border-radius: var(--lui-border-radius-circle); }
.br-24 { border-radius: var(--lui-border-radius-24); }
.br-16 { border-radius: var(--lui-border-radius-16); }
.br-12 { border-radius: var(--lui-border-radius-12); }
.br-8 { border-radius: var(--lui-border-radius-8); }
.br-4 { border-radius: var(--lui-border-radius-4); }
.br-2 { border-radius: var(--lui-border-radius-2); }
.br-0 { border-radius: var(--lui-border-radius-0); }