:root {
    color-scheme: light;
    
    --lui-color-solid-blue-1: hsl(204, 100%, 96%);
    --lui-color-solid-blue-2: hsl(205, 95%, 85%);
    --lui-color-solid-blue-3: hsl(206, 94%, 74%);
    --lui-color-solid-blue-4: hsl(206, 91%, 65%);
    --lui-color-solid-blue-5: hsl(207, 86%, 57%);
    --lui-color-solid-blue-6: hsl(207, 86%, 57%);
    --lui-color-solid-blue-7: hsl(208, 89%, 41%);
    --lui-color-solid-blue-8: hsl(208, 95%, 25%);
    --lui-color-solid-blue-9: hsl(208, 100%, 10%);

    --lui-color-solid-gray-1: hsl(0, 0%, 100%);
    --lui-color-solid-gray-2: hsl(264, 15%, 94%);
    --lui-color-solid-gray-3: hsl(226, 13%, 81%);
    --lui-color-solid-gray-4: hsl(230, 9%, 63%);
    --lui-color-solid-gray-5: hsl(229, 9%, 46%);
    --lui-color-solid-gray-6: hsl(227, 10%, 37%);
    --lui-color-solid-gray-7: hsl(225, 12%, 27%);
    --lui-color-solid-gray-8: hsl(224, 12%, 18%);
    --lui-color-solid-gray-9: hsl(220, 14%, 9%);

    --lui-color-solid-green-1: hsl(130, 100%, 95%);
    --lui-color-solid-green-2: hsl(130, 69%, 80%);
    --lui-color-solid-green-3: hsl(130, 62%, 67%);
    --lui-color-solid-green-4: hsl(130, 57%, 56%);
    --lui-color-solid-green-5: hsl(131, 58%, 42%);
    --lui-color-solid-green-6: hsl(131, 68%, 30%);
    --lui-color-solid-green-7: hsl(131, 77%, 20%);
    --lui-color-solid-green-8: hsl(132, 83%, 12%);
    --lui-color-solid-green-9: hsl(133, 87%, 3%);

    --lui-color-solid-orange-1: hsl(18, 100%, 84%);
    --lui-color-solid-orange-2: hsl(21, 100%, 75%);
    --lui-color-solid-orange-3: hsl(25, 100%, 66%);
    --lui-color-solid-orange-4: hsl(29, 100%, 58%);
    --lui-color-solid-orange-5: hsl(30, 89%, 46%);
    --lui-color-solid-orange-6: hsl(30, 100%, 36%);
    --lui-color-solid-orange-7: hsl(29, 100%, 30%);
    --lui-color-solid-orange-8: hsl(29, 100%, 23%);
    --lui-color-solid-orange-9: hsl(28, 100%, 16%);

    --lui-color-solid-pink-1: hsl(336, 100%, 97%);
    --lui-color-solid-pink-2: hsl(338, 91%, 87%);
    --lui-color-solid-pink-3: hsl(339, 90%, 81%);
    --lui-color-solid-pink-4: hsl(339, 88%, 74%);
    --lui-color-solid-pink-5: hsl(339, 82%, 67%);
    --lui-color-solid-pink-6: hsl(339, 76%, 59%);
    --lui-color-solid-pink-7: hsl(339, 67%, 52%);
    --lui-color-solid-pink-8: hsl(339, 69%, 38%);
    --lui-color-solid-pink-9: hsl(339, 69%, 38%);

    --lui-color-solid-red-1: hsl(0, 100%, 93%);
    --lui-color-solid-red-2: hsl(0, 95%, 83%);
    --lui-color-solid-red-3: hsl(0, 96%, 73%);
    --lui-color-solid-red-4: hsl(0, 94%, 65%);
    --lui-color-solid-red-5: hsl(0, 65%, 51%);
    --lui-color-solid-red-6: hsl(1, 71%, 40%);
    --lui-color-solid-red-7: hsl(1, 77%, 30%);
    --lui-color-solid-red-8: hsl(1, 80%, 22%);
    --lui-color-solid-red-9: hsl(2, 82%, 13%);

    --lui-color-solid-teal-1: hsl(161, 79%, 95%);
    --lui-color-solid-teal-2: hsl(160, 85%, 87%);
    --lui-color-solid-teal-3: hsl(162, 78%, 77%);
    --lui-color-solid-teal-4: hsl(162, 72%, 65%);
    --lui-color-solid-teal-5: hsl(162, 68%, 54%);
    --lui-color-solid-teal-6: hsl(162, 73%, 46%);
    --lui-color-solid-teal-7: hsl(162, 87%, 35%);
    --lui-color-solid-teal-8: hsl(162, 88%, 26%);

    --lui-color-solid-violet-1: hsl(252, 100%, 97%);
    --lui-color-solid-violet-2: hsl(256, 100%, 87%);
    --lui-color-solid-violet-3: hsl(255, 94%, 79%);
    --lui-color-solid-violet-4: hsl(255, 93%, 72%);
    --lui-color-solid-violet-5: hsl(255, 91%, 67%);
    --lui-color-solid-violet-6: hsl(255, 86%, 63%);
    --lui-color-solid-violet-7: hsl(255, 67%, 55%);
    --lui-color-solid-violet-8: hsl(255, 53%, 50%);
    --lui-color-solid-violet-9: hsl(255, 53%, 50%);

    --lui-color-solid-yellow-1: hsl(50, 100%, 93%);
    --lui-color-solid-yellow-2: hsl(49, 100%, 80%);
    --lui-color-solid-yellow-3: hsl(48, 100%, 70%);
    --lui-color-solid-yellow-4: hsl(47, 100%, 62%);
    --lui-color-solid-yellow-5: hsl(45, 97%, 54%);
    --lui-color-solid-yellow-6: hsl(39, 100%, 48%);
    --lui-color-solid-yellow-7: hsl(35, 100%, 47%);
    --lui-color-solid-yellow-8: hsl(31, 100%, 45%);
    --lui-color-solid-yellow-9: hsl(31, 100%, 45%);
}