@use '../../tokens/variables';

/* Border Width */
.bw-16 {
    border-width: $lui-border-width-16;
}
.bw-12 {
    border-width: $lui-border-width-12;
}
.bw-8 {
    border-width: $lui-border-width-8;
}
.bw-4 {
    border-width: $lui-border-width-4;
}
.bw-2 {
    border-width: $lui-border-width-2;
}
.bw-1 {
    border-width: $lui-border-width-1;
}
.bw-0 {
    border-width: $lui-border-width-0;
}

/* Border Radius */
.br-circle {
    border-radius: $lui-border-radius-circle;
}
.br-16 {
    border-radius: $lui-border-radius-16;
}
.br-12 {
    border-radius: $lui-border-radius-12;
}
.br-8 {
    border-radius: $lui-border-radius-8;
}
.br-4 {
    border-radius: $lui-border-radius-4;
}
.br-2 {
    border-radius: $lui-border-radius-2;
}
.br-0 {
    border-radius: $lui-border-radius-0;
}