@use '../../tokens/variables' as *;

$border-widths: (
  1: $lui-border-width-1,
  2: $lui-border-width-2,
  4: $lui-border-width-4
);

$radius: (
  2: $lui-border-radius-2,
  4: $lui-border-radius-4,
  8: $lui-border-radius-8,
  12: $lui-border-radius-12,
  16: $lui-border-radius-16,
  circle: $lui-border-radius-circle
);

@each $key, $value in $border-widths {
  .bw-#{$key} {
    border-width: $value;
  }

  .bw-x-#{$key} {
    border-left-width: $value;
    border-right-width: $value;
  }

  .bw-y-#{$key} {
    border-top-width: $value;
    border-bottom-width: $value;
  }

  .bw-t-#{$key} {
    border-top-width: $value;
  }

  .bw-r-#{$key} {
    border-right-width: $value;
  }

  .bw-b-#{$key} {
    border-bottom-width: $value;
  }

  .bw-l-#{$key} {
    border-left-width: $value;
  }
}

@each $key, $value in $radius {
  .br-#{$key} {
    border-radius: $value;
  }
}
