.flex {display: flex;}
.inline-flex {display: inline-flex;}

/* Direction */
.flex-row {flex-direction: row;}
.flex-row-reverse {flex-direction: row-reverse;}
.flex-column {flex-direction: column;}
.flex-column-reverse {flex-direction: column-reverse;}

/* Wrap */
.flex-wrap {flex-wrap: wrap;}
.flex-wrap-reverse {flex-wrap: wrap-reverse;}
.flex-nowrap {flex-wrap: nowrap;} 

/* Justify */
.flex-justify-start {justify-content: flex-start;}
.flex-justify-end {justify-content: flex-end;}
.flex-justify-center {justify-content: center;}
.flex-justify-space-between {justify-content: space-between;}
.flex-justify-space-around {justify-content: space-around;}
.flex-justify-space-evenly {justify-content: space-evenly;}

/* Align Items */
.flex-align-start {align-items: flex-start;}
.flex-align-end {align-items: flex-end;}
.flex-align-center {align-items: center;}
.flex-align-baseline {align-items: baseline;}
.flex-align-stretch {align-items: stretch;}

/* Align Content */
.flex-align-content-start {align-content: flex-start;}
.flex-align-content-end {align-content: flex-end;}
.flex-align-content-center {align-content: center;}
.flex-align-content-space-between {align-content: space-between;}
.flex-align-content-space-around {align-content: space-around;}
.flex-align-content-stretch {align-content: stretch;}

/* Grow */
.flex-item-grow-0 {flex-grow: 0;}
.flex-item-grow-1 {flex-grow: 1;}

/* Shrink */
.flex-item-shrink-0 {flex-shrink: 0;}
.flex-item-shrink-1 {flex-shrink: 1;}

/* Flex */
.flex-item-auto {flex: auto;} /* grow, shrink, basis automáticos */
.flex-item-initial {flex: initial;} /* grow: 0, shrink: 1, basis: auto */
.flex-item-none {flex: none;} /* grow: 0, shrink: 0, no base */

/* Order */
.flex-item-order-0 {order: 0;}
.flex-item-order-1 {order: 1;}
.flex-item-order-2 {order: 2;}
.flex-item-order-negative {order: -1;}

/* Align Self */
.flex-self-auto {align-self: auto;}
.flex-self-start {align-self: flex-start;}
.flex-self-end {align-self: flex-end;}
.flex-self-center {align-self: center;}
.flex-self-baseline {align-self: baseline;}
.flex-self-stretch {align-self: stretch;}