@use '../../tokens/variables' as *;

.display {
  font: $lui-typography-scale-display;
}

.title {
  font: $lui-typography-scale-title;
}

.headline {
  font: $lui-typography-scale-headline;
}

.subtitle {
  font: $lui-typography-scale-subtitle;
}

.block-title {
  font: $lui-typography-scale-block-title;
}

.subheadline {
  font: $lui-typography-scale-subheadline;
}

.overtitle {
  font: $lui-typography-scale-overtitle;
}

.body-lg {
  font: $lui-typography-scale-body-lg;
}

.body-md {
  font: $lui-typography-scale-body-md;
}

.body-sm {
  font: $lui-typography-scale-body-sm;
}

.display, .title, .headline, .subtitle, .block-title, .subheadline, .overtitle,
h1, h2, h3, h4, h5, h6, label {
  font-family: $lui-brand-typography-font-family-heading !important;
  color: $lui-color-neutral-dark-text-heading
}

.body-lg, .body-md, .body-sm,
body, p, input, select, button {
  font-family: $lui-brand-typography-font-family-body !important;
  color: $lui-color-neutral-dark-text-body;
}

.txt-bold {
  font-weight: $lui-typography-weight-bold !important;
}

.txt-underline {
  text-decoration: $lui-typography-decoration-underline
}

.txt-line-through {
  text-decoration: $lui-typography-decoration-line-through
}

.txt-uppercase {
  text-transform: $lui-typography-case-uppercase
}