:root {
    /* Button */
    --mv-btn-spacing-lg: var(--mv-spacing-12);
    --mv-btn-spacing-md: var(--mv-spacing-8);

    /* Form field */
    --mv-form-field-border-width: var(--mv-spacing-2);
    --mv-form-field-spacing-lg: var(--mv-spacing-12);
    --mv-form-field-spacing-md: var(--mv-spacing-8);
}