@use 'sass:map';
@use '../../dist/letsui.tokens.scss' as *;

$typography: (
  font: (
    heading: token('lui.brand.typography.font-family.heading'),
    body: token('lui.brand.typography.font-family.body')
  ),

  weight: (
    regular: token('lui.typography.weight.regular'),
    medium: token('lui.typography.weight.medium'),
    semibold: token('lui.typography.weight.semibold'),
    bold: token('lui.typography.weight.bold')
  ),

  case: (
    none: token('lui.typography.case.none'),
    lowercase: token('lui.typography.case.lowercase'),
    uppercase: token('lui.typography.case.uppercase')
  ),

  decoration: (
    none: token('lui.typography.decoration.none'),
    underline: token('lui.typography.decoration.underline'),
    line-through: token('lui.typography.decoration.line-through')
  ),

  size: (
    3xl: token('lui.brand.typography.font-size.3xl'),
    2xl: token('lui.brand.typography.font-size.2xl'),
    1xl: token('lui.brand.typography.font-size.1xl'),
    lg: token('lui.brand.typography.font-size.lg'),
    md: token('lui.brand.typography.font-size.md'),
    sm: token('lui.brand.typography.font-size.sm'),
    1xs: token('lui.brand.typography.font-size.1xs'),
    2xs: token('lui.brand.typography.font-size.2xs'),
    3xs: token('lui.brand.typography.font-size.3xs')
  ),

  line-height: (
    heading: token('lui.brand.typography.line-height.heading'),
    body: token('lui.brand.typography.line-height.body')
  )
);
